@charset "utf-8";
/* CSS Document */

body { margin-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; background-color:#dcdcdc;
       font-family: "微軟正黑體", "蘋果儷中黑", "Lucida Sans Unicode", "Lucida Grande", Arial, Helvetica, sans-serif;
	   font-size:14px; color: #7e7e7e;}

a { color: #7e7e7e; text-decoration: none }
a:link, a:visited, a:active {color:#7e7e7e; }
a:hover {color:#00a1e1; text-decoration:underline;} 

.blue { color: #00a1e1; text-decoration: none; }
.blue a:link,.blue a:visited,.blue a:active {color:#00a1e1; text-decoration: underline }
.blue a:hover {color:#00a1e1; text-decoration:underline; font-weight:bold;} 

.toplink { color: #FFF; text-decoration: none; text-align:center; margin-top:40px; margin-left:40px; position:absolute; float:left; width:18px; height:18px; background-color:#ff5a5a; font-size:13px; }
.toplink a:link, .toplink a:visited, .toplink a:active {color:#fff; }
.toplink a:hover {color:#fff; text-decoration:underline;} 

.toplink_gray { color: #7e7e7e; text-decoration: none;text-align:center; margin-top:40px; font-size:13px;}
.toplink_gray a:link, .toplink_gray a:visited, .toplink_gray a:active {color:#7e7e7e; }
.toplink_gray a:hover {color:#7e7e7e; text-decoration:underline;} 

#bg_top_default{ width:100%; background-image:url(../images/bg_topbanner.jpg); background-repeat:no-repeat; background-position:center;}
#top{ width:100%; background-image:url(../images/default_off_02.jpg);}
#top_bt{ width:950px; height:70px; margin:0 auto;}
#top_bgbt{ width:100%; height:264px; margin:0 auto; background-image:url(../images/bg_topbt.png); background-repeat:repeat-x;}
#top_banner{ width:950px; height:264px; margin:0 auto; background-image:url(../images/default_off_09.png);}

#bg_content{ width:100%; padding-bottom:20px; background-image:url(../images/default_off_11.jpg);}
#bg_index{ width:100%; background-image:url(../images/bg_tee.jpg); background-repeat:no-repeat; background-position:center top;}
#content{ width:925px; margin:0 auto;}
.clear{ clear:both;}

#bg_copyright{ width:100%; background-image:url(../images/default_off_12.jpg);}
#copyright{ width:950px; height:70px; margin:0 auto; text-align: left; font-size:11px;}

.item01{ width:272px; float:left; margin-top:-32px;}
.item01_top{ width:272px; height:68px; background-image:url(../images/bg_leftbt_01.png); background-repeat:no-repeat;}
.item01_content{ width:242px; height:auto; padding:10px 15px 0 15px; background-image:url(../images/bg_leftbt_02.png); background-repeat:repeat-y; font-size:}
.item01_bottom{ width:272px; height:37px; background-image:url(../images/bg_leftbt_03.png); background-repeat:no-repeat;}
.item_style01{ color: #ae9656; font-size:15px; line-height:18px; font-weight:bold;}
.item_style01 a:link, .item_style01 a:visited, .item_style01 a:active {color:#ae9656; }
.item_style01 a:hover {color:#ae9656; text-decoration:underline;} 

.item_style02{ color: #00a1e1; font-size:15px; line-height:18px; font-weight:bold;}
.item_style02 a:link, .item_style02 a:visited, .item_style02 a:active {color:#00a1e1; }
.item_style02 a:hover {color:#00a1e1; text-decoration:underline;} 

.item_style03{ color: #93c525; font-size:15px; line-height:18px; font-weight:bold;}
.item_style03 a:link, .item_style03 a:visited, .item_style03 a:active {color:#93c525; }
.item_style03 a:hover {color:#93c525; text-decoration:underline;} 


.box01{ width:650px; float: right; margin-top:-30px;}
.box01_top{ width:650px; height:46px; background-image:url(../images/bg_content01_01.png); background-repeat:no-repeat; text-align:center; padding-top:20px;}
.box01_content{ width:610px; height:auto; padding:20px; background-image:url(../images/bg_content01_02.png); background-repeat:repeat-y;}
.box01_bottom{ width:650px; height:40px; background-image:url(../images/bg_content01_03.png); background-repeat:no-repeat;}

.box02{ width:922px; height:auto; margin-top:-30px;float: left;}
.box02_top{  height:85px; background-image:url(../images/bg_box02_01.png); background-repeat:no-repeat; text-align:center; padding-top:20px;}
.box02_content{ height:auto; padding:20px 60px 20px 60px; background-image:url(../images/bg_box02_02.png); background-repeat:repeat-y;}
.box02_bottom{ height:49px; background-image:url(../images/bg_box02_03.png); background-repeat:no-repeat;}

.box04_top{  height:68px; background-image:url(../images/bg_box04_01.png); background-repeat:no-repeat; text-align:center; padding-top:20px;}
.box04_content{ height:auto; padding:0px; background-image:url(../images/bg_box04_02.png); background-repeat:repeat-y;}
.box04_bottom{ height:34px; background-image:url(../images/bg_box04_03.png); background-repeat:no-repeat;}

.ad{ width:212px; margin-left:35px; }

.txt_brown01{ color: #ae9656; font-size:17px;}
.txt_brown01 a:link, .txt_brown01 a:visited, .txt_brown01 a:active {color:#ae9656; }
.txt_brown01 a:hover {color:#ae9656; text-decoration:underline;} 

.txt_black{ color: #1b1b1b; font-size:13px; line-height:24px; text-decoration:none;}
.txt_black a:link, .txt_black a:visited, .txt_black a:active {color:#1b1b1b; }
.txt_black a:hover {color:#00b6e8; text-decoration:none;} 

.txt_gray01{ color: #dadada; font-size:13px;}
.txt_gray02{ color: #7e7e7e; font-size:17px;}
.txt_gray03{ color: #7e7e7e; font-size:12px;}
.txt_red01{ color: #900; font-size:12px;}

.title01{ font-size:18px; font-weight:600;}

/*topbanner選單*/

#bt_topbanner{ width:476px; height:42px; background-image:url(../images/bt_topbanner.png); float:right; margin-top:7px; margin-right:20px;}

.navigation {
	margin:0 auto; 
	padding:0;
	width:452px;
	list-style-type:none; 
	font:12px Arial; 
	}
 
.navigation li {
	float:left;
    padding:0; 
	margin:0 1px 0 0; 
	_margin:0 1px 0 0; 
	width:112px;
	}
 
/* 設置選單區塊*/
.navigation li dl { 
	width:112px;/*ie6*/
    margin:0; 
	padding:0;
	border:solid 0px #666; 
	}
 
.navigation li dt a , .navigation li dd a{ display:block;}
 
 
/* 設置主選單dt */
.navigation li dt {
	margin:0; margin-top:3px;
	padding: 0px;
	text-align:center;
	font-size: 12px;
	font-weight: bold;
	height:33px; 
	overflow:hidden;
	}
 
.navigation li dt a ,.navigation  li dt a:visited {
	display:block; 
    color:#333; 
    text-decoration:none;
	}
 
/* 設置子選單dd */
.navigation li dd { 
	margin:0; 
    padding:0; 
	color: #333; 
	background-color: #FFF;
	border-bottom:dotted 1px #666;
	}
 
.navigation li dd.last {
	border-bottom:0;
	}	
 
.navigation li dd a, .navigation  li dd a:visited {
	display:block; 
	color:#333; 
    text-decoration:none;
	padding:6px 5px 5px 20px;
    }

.navigation li dd a, .navigation  li dd a:hover {
	border:0; color: #00a1e1;
    }
 
 
/*隱藏子選單*/
.navigation li dd { display:none;}
 
 
/* 滑鼠滑入顯示子選單 */
.navigation li:hover dd, .navigation li a:hover dd { display:block;}
 
/*ie6 hack*/
.navigation li:link,.navigation li a:link { color:#333;;}
.navigation li:hover,.navigation li a:hover { border:0; color: #00a1e1;}
.navigation table { border-collapse:collapse; 
    padding:0; 		
	text-align:left;
	}

