/* -------------------------------- 

Primary style

-------------------------------- */
*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  background-color: #485274;
}

a {
  text-decoration: none; color:#FFF;
}
a:hover {
  text-decoration: underline;
}
img {
    max-width: 100%;
    height: auto;
}

/* -------------------------------- 

Main Components 

-------------------------------- */
.cd-header {
  height: 80px;
  width: 90%;
  margin: 0 auto;
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  transition: transform 0.5s;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.cd-header::after {
  clear: both;
  content: "";
  display: table;
}
.cd-header.nav-is-visible {
  -webkit-transform: translateY(80px);
  -moz-transform: translateY(80px);
  -ms-transform: translateY(80px);
  -o-transform: translateY(80px);
  transform: translateY(80px);
}
@media only screen and (min-width: 768px) {
  .cd-header.nav-is-visible {
    -webkit-transform: translateY(170px);
    -moz-transform: translateY(170px);
    -ms-transform: translateY(170px);
    -o-transform: translateY(170px);
    transform: translateY(170px);
  }
}

.cd-logo {
  float: left;
  margin-top: 28px;
}

.cd-3d-nav-trigger {
  position: relative;
  float: right;
  height: 45px;
  width: 45px;
  margin-top: 18px;
  /* replace text with background image */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  color: transparent;
}
.cd-3d-nav-trigger span,
.cd-3d-nav-trigger span::before,
.cd-3d-nav-trigger span::after {
  /* hamburger icon in CSS */
  position: absolute;
  width: 28px;
  height: 3px;
  background-color: #FFF;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.cd-3d-nav-trigger span {
  /* this is the central line */
  top: 21px;
  left: 8px;
  -webkit-transition: background 0.2s 0.5s;
  -moz-transition: background 0.2s 0.5s;
  transition: background 0.2s 0.5s;
}
.cd-3d-nav-trigger span::before, .cd-3d-nav-trigger span:after {
  /* these are the upper and lower lines */
  content: '';
  left: 0;
  -webkit-transition: -webkit-transform 0.2s 0.5s;
  -moz-transition: -moz-transform 0.2s 0.5s;
  transition: transform 0.2s 0.5s;
}
.cd-3d-nav-trigger span::before {
  bottom: 8px;
}
.cd-3d-nav-trigger span::after {
  top: 8px;
}
.nav-is-visible .cd-3d-nav-trigger span {
  /* hide line in the center */
  background-color: rgba(255, 255, 255, 0);
}
.nav-is-visible .cd-3d-nav-trigger span::before, .nav-is-visible .cd-3d-nav-trigger span::after {
  /* keep visible other 2 lines */
  background-color: white;
}
.nav-is-visible .cd-3d-nav-trigger span::before {
  -webkit-transform: translateY(8px) rotate(-45deg);
  -moz-transform: translateY(8px) rotate(-45deg);
  -ms-transform: translateY(8px) rotate(-45deg);
  -o-transform: translateY(8px) rotate(-45deg);
  transform: translateY(8px) rotate(-45deg);
}
.nav-is-visible .cd-3d-nav-trigger span::after {
  -webkit-transform: translateY(-8px) rotate(45deg);
  -moz-transform: translateY(-8px) rotate(45deg);
  -ms-transform: translateY(-8px) rotate(45deg);
  -o-transform: translateY(-8px) rotate(45deg);
  transform: translateY(-8px) rotate(45deg);
}

.cd-3d-nav-container {
  /* this is the 3D navigation container */
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  width: 100%;
  background-color: #000000;
  visibility: hidden;
  /* enable a 3D-space for children elements */
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  perspective: 1000px;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.5s 0s, visibility 0s 0.5s;
  -moz-transition: -moz-transform 0.5s 0s, visibility 0s 0.5s;
  transition: transform 0.5s 0s, visibility 0s 0.5s;
}
.cd-3d-nav-container.nav-is-visible {
  visibility: visible;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: -webkit-transform 0.5s 0s, visibility 0.5s 0s;
  -moz-transition: -moz-transform 0.5s 0s, visibility 0.5s 0s;
  transition: transform 0.5s 0s, visibility 0.5s 0s;
  z-index:1000;
}
@media only screen and (min-width: 768px) {
  .cd-3d-nav-container {
    height: 170px;
  }
}

.cd-3d-nav {
  /* this is the 3D rotating navigation */
  position: relative;
  height: 100%;
  background-color: #343c55;
  /* Force Hardware Acceleration */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-origin: center bottom;
  -moz-transform-origin: center bottom;
  -ms-transform-origin: center bottom;
  -o-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  -ms-transform: rotateX(90deg);
  -o-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  transition: transform 0.5s;
}
.cd-3d-nav::after {
  /* menu dark cover layer - to enhance perspective effect */
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000000;
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.5s 0s, visibility 0.5s 0s;
  -moz-transition: opacity 0.5s 0s, visibility 0.5s 0s;
  transition: opacity 0.5s 0s, visibility 0.5s 0s;
}
.cd-3d-nav li {
  height: 100%;
  width: 20%;
  float: left;
}
.cd-3d-nav li:first-of-type a::before {
  background-image: url(../img/icon-1.svg);
}
.cd-3d-nav li:nth-of-type(2) a::before {
  background-image: url(../img/icon-2.svg);
}
.cd-3d-nav li:nth-of-type(3) a::before {
  background-image: url(../img/icon-3.svg);
}
.cd-3d-nav li:nth-of-type(4) a::before {
  background-image: url(../img/icon-4.svg);
}
.cd-3d-nav li:nth-of-type(5) a::before {
  background-image: url(../img/icon-5.svg);
}
.cd-3d-nav a {
  position: relative;
  display: block;
  height: 100%;
  color: transparent;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.cd-3d-nav a::before {
  /* navigation icons */
  content: '';
  height: 32px;
  width: 32px;
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-size: 32px 64px;
  background-repeat: no-repeat;
  background-position: 0 0;
}
.no-touch .cd-3d-nav a:hover {
  background-color: #2b3145;
}
.cd-3d-nav .cd-selected a {
  background-color: #212635;
}
.no-touch .cd-3d-nav .cd-selected a:hover {
  background-color: #212635;
}
.cd-3d-nav .cd-selected a::before {
  background-position: 0 -32px;
}
.nav-is-visible .cd-3d-nav {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
.nav-is-visible .cd-3d-nav::after {
  /* menu cover layer - hide it when navigation is visible */
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.5s 0s, visibility 0s 0.5s;
  -moz-transition: opacity 0.5s 0s, visibility 0s 0.5s;
  transition: opacity 0.5s 0s, visibility 0s 0.5s;
}
@media only screen and (min-width: 768px) {
  .cd-3d-nav a {
    padding: 7.6em 1em 0;
    color: #ffffff;
    font-size: 1.3rem;
    font-weight: 600;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* truncate text with ellipsis if too long */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .cd-3d-nav a::before {
    top: 4.4em;
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}

.cd-marker {
  /* line at the bottom of nav selected item */
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 20%;
  -webkit-transform-origin: center bottom;
  -moz-transform-origin: center bottom;
  -ms-transform-origin: center bottom;
  -o-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-transform: translateZ(0) rotateX(90deg);
  -moz-transform: translateZ(0) rotateX(90deg);
  -ms-transform: translateZ(0) rotateX(90deg);
  -o-transform: translateZ(0) rotateX(90deg);
  transform: translateZ(0) rotateX(90deg);
  -webkit-transition: -webkit-transform 0.5s, left 0.5s, color 0.5s, background-color 0.5s;
  -moz-transition: -moz-transform 0.5s, left 0.5s, color 0.5s, background-color 0.5s;
  transition: transform 0.5s, left 0.5s, color 0.5s, background-color 0.5s;
}
.cd-marker::before {
  /* triangle at the bottom of nav selected item */
  content: '';
  position: absolute;
  bottom: 3px;
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 0;
  width: 0;
  border: 10px solid transparent;
  border-bottom-color: inherit;
}
.nav-is-visible .cd-marker {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}

/* these are the colors of the markers - line + arrow */
.color-1 {
  color: #9a57bd;
  background-color: #9a57bd;
}

.color-2 {
  color: #c96aa4;
  background-color: #c96aa4;
}

.color-3 {
  color: #d6915e;
  background-color: #d6915e;
}

.color-4 {
  color: #5397c7;
  background-color: #5397c7;
}

.color-5 {
  color: #77cd91;
  background-color: #77cd91;
}

main {
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  transition: transform 0.5s;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
main h1 {
  text-align: center;
  font-size: 2em;
  font-weight: 300;
  color: #ffffff;
  margin: 0em auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
main.nav-is-visible {
  -webkit-transform: translateY(80px);
  -moz-transform: translateY(80px);
  -ms-transform: translateY(80px);
  -o-transform: translateY(80px);
  transform: translateY(80px);
}
@media only screen and (min-width: 768px) {
  main.nav-is-visible {
    -webkit-transform: translateY(170px);
    -moz-transform: translateY(170px);
    -ms-transform: translateY(170px);
    -o-transform: translateY(170px);
    transform: translateY(170px);
  }
  main h1 {
    font-size: 2em;
  }
}

/************ NAVIGATION *******************/
#tab-list{ margin-top:20px !important; border-radius:4px; }
#tab-list,
#tab-list ul {
  display: flex;
  margin:0;
  background-color:#f5f5f5;
}

#tab-list ul,
#tab-list li {
  flex: 1;
}

#tab-list a {
  text-decoration: none;
  color: inherit;
  display: block;
  font-size:1em;
  background-color:#f5f5f5; 
}

#tab-list a:hover {
  background:#d52349;
  color: #fff;
}

/*************** DESIGN ******************/
#tab-list ul {
  flex-wrap: wrap;
  max-width: 1080px;
  margin: 0 auto;
  list-style:none;
  padding-left:0;
}

#tab-list li {
  position: relative;
  line-height: 40px;
  color: #888;
  text-align: center;
}

#tab-list input,
#tab-list label {
  display: none;
  width: 40px;
  height: 40px;
  background: #777;
  color: #fff;
  text-align: center;
  line-height: 40px;
  font-size: 0.6em;
  margin-bottom:0 !important;
}

#tab-list label:hover {
  cursor: pointer;
}
.target-fix {
    position: relative;
    top: -50px;
    display: block;
    height: 0;
    overflow: hidden;
}

/******************** MEDIA QUERIES *********************/
@media only screen and (max-width: 1080px) {

  #tab-list li {
    flex: none;
    background: #ddd;
  }

  #tab-list li:nth-child(1n+1) {
    width: 25%;
  }

  #tab-list li:nth-child(1n+6) {
    display: none;
    width: 100%;
  }

  #tab-list input[type="checkbox"]:checked + ul li:nth-child(1n+6) {
    display: block;
    width: 100%;
    background: #eee;
  }

  #tab-list label {
    display: none;
  }
  #tab-list,
  #tab-list ul {
  /*background-color: transparent;*/
  }
}
@media only screen and (max-width: 960px) {
  #tab-list li:nth-child(1n+1) {
    width: 25%;
  }

  #tab-list li:nth-child(1n+5) {
    display: none;
    width: 50%;
  }

  #tab-list input[type="checkbox"]:checked + ul li:nth-child(1n+5) {
    display: block;
    width: 50%;
    background: #eee;
  }
  #tab-list,
  #tab-list ul {
  /*background-color: transparent;*/
  }
}
@media only screen and (max-width: 720px) {
  #tab-list li:nth-child(1n+1) {
    width: 25%;
  }
/*
  #tab-list li:nth-child(1n+4) {
    display: none;
    width: 100%;
  }

  #tab-list input[type="checkbox"]:checked + ul li:nth-child(1n+4) {
    display: block;
    width: 50%;
    background: #eee;
  }
*/
}
@media only screen and (max-width: 480px) {
  #tab-list li:nth-child(1n+1) {
    width: 25%;
    font-size: 13px;
  }
  #tab-list { border-radius:4px;
  }
/*
  #tab-list li:nth-child(1n+4) {
    display: none;
    width: 100%;
  }

  #tab-list input[type="checkbox"]:checked + ul li:nth-child(1n+3) {
    display: block;
    width: 100%;
    background: #eee;
  }
*/
}

/*自訂*/
@media (min-width: 768px){
	#index{ margin-top:100px;}
	.padding50{ padding:50px !important}
	}
@media (max-width:767px) {
	#index{ margin-top:0px;}
	.padding50{ padding:10px !important}
	}

.container{ margin-bottom:50px;}
#index ul{ line-height:2em; font-size:1.5em}
#index ul{ line-height:2em; font-size:1.5em}
.img-border{ border:6px double #FFF;}
.title{ font-size:1.5em}
.page-header{ font-size:1em;}
.footer{ width:50px; padding:10px; background-color:#212635; position:fixed; bottom:0; right:10px; text-align:center; color:#FFF; border-radius: 4px 4px 0 0 }

.experience-header {
    text-align: left;
    padding-bottom: 9px;
    margin: 30px 0 30px 0;
    border-bottom: 1px solid #f1f1f1;
	color:#333;
}

/**
 * table
 * テーブル関連
 */
.cart-table {
  display: table;
  width: 100%;
  margin:0;
  border-collapse: collapse;
  border-bottom: 1px solid #f1f1f1;
  color:#333;
}
.cart-table .tr {
  display: table-row;
}
.cart-table .th,
.cart-table .td {
  display: table-cell;
  padding: 25px;
  vertical-align: top;
  border: 1px solid #ddd;
}
.cart-table .th {
  padding: 10px 25px;
  background: #f5f5f5;
  text-align: center;
}
.cart-table .quant {
  text-align: center;
  padding: 25px 10px;
  /*width: 25%;*/
  width:200px;
}
 .width300{width:60%;}
.cart-table .price {
  text-align: right;
  width: 15%;
}
.cart-table .deliv {
  text-align: left;
}
.cart-table .sub-total .td {
  padding: 10px 25px;
  text-align: right;
  border: none;
  border-bottom: 1px solid #ddd;
}
.cart-table .sub-total .td:first-child {
  border-left: 1px solid #ddd;
}
.cart-table .sub-total .td:last-child {
  border-right: 1px solid #ddd;
}
.cart-table .result .td {
  text-align: right;
  padding: 25px;
  background: #f7f7f7;
  border: none;
  border-bottom: 1px solid #ddd;
}
.cart-table .result .td:first-child {
  border-left: 1px solid #ddd;
}
.cart-table .result .td:last-child {
  border-right: 1px solid #ddd;
}
.cart-table .result .td p {
  font-size: 14px;
}
.cart-table.cart .th:first-child {
  width: 60%;
}
.cart-table.cart .th:nth-child(2) {
  width: 20%;
}
.cart-table.cart .th:last-child {
  width: 20%;
}
.cart-table.payment .tr .th {
  font-size: 13px;
}
.cart-table.payment .tr .th:first-child {
  width: 12%;
  text-align: center;
}
.cart-table.payment .tr .td {
  padding: 20px 25px;
  font-size: 13px;
}
.cart-table.payment .tr .td:first-child {
  text-align: center;
}
.cart-table.deliv-time .tr .th {
  padding: 20px 25px;
  font-size: 13px;
}
.cart-table.deliv-time .tr .td {
  padding: 20px 25px;
  vertical-align: middle;
  font-size: 13px;
}
.cart-table.add-deliv {
  margin: 0 0 40px 0;
}
.cart-table.add-deliv .tr .th {
  padding: 10px 25px;
  font-size: 13px;
}
.cart-table.add-deliv .tr .td {
  padding: 20px 25px;
  vertical-align: middle;
  font-size: 13px;
  text-align: center;
}
.cart-table.add-deliv .tr .td:nth-child(3) {
  text-align: left;
}


/**
 * media
 * メディアクエリ
 */

@media screen and (max-width: 799px) {


  .cart-table .tr {
    display: block;
    border-bottom: 1px solid #f1f1f1;
    clear: both;
  }
  .cart-table .tr:first-child {
  border-bottom: none;
  }
  .cart-table .sp-tr {
    display: table-row;
  }
  .cart-table .th,
  .cart-table .td {
    display: block;
    border-bottom: none;
  }
  .cart-table .th {
    display: none;
  }
  .cart-table .quant {
    display: block;
    float: left;
    width: 70%;
    height: 66px;
    padding: 14px 0 0 25px;
    border-top: none;
    border-bottom: none;
    border-right: none;
    text-align: left;
  }
  .cart-table .price,
  .cart-table .deliv {
    display: block;
    float: right;
    width: 30%;
    height: 66px;
    padding: 20px 25px 0 0;
    border-top: none;
    border-bottom: none;
    border-left: none;
    vertical-align: middle;
  }
  .cart-table.deliv {
    border-bottom: 1px solid #f1f1f1;
  }
  .cart-table.deliv .quant {
    width: 45%;
    height: 70px;
  }
  .cart-table.deliv .deliv {
    width: 55%;
    height: 70px;
  }
  .cart-table .sub-total .td {
    display: block;
    float: left;
    width: 70%;
    height: 55px;
    padding: 10px 25px 0 0;
    border-bottom: none;
    border-left: 1px solid #f1f1f1;
    border-top: 1px solid #f1f1f1;
  }
  .cart-table .sub-total .td:first-child {
    display: none;
  }
  .cart-table .sub-total .td:last-child {
    float: right;
    width: 30%;
    border-left: none;
  }
  .cart-table .result .td {
    display: block;
    float: left;
    width: 70%;
    height: 56px;
    padding: 15px 25px 0 0;
    border-bottom: none;
    border-left: 1px solid #f1f1f1;
    border-top: 1px solid #f1f1f1;
  }
  .cart-table .result .td:first-child {
    display: none;
  }
  .cart-table .result .td:last-child {
    float: right;
    width: 30%;
    border-left: none;
  }
  .cart-table.cart .th:first-child {
    width: 60%;
  }
  .cart-table.cart .th:nth-child(2) {
    width: 20%;
  }
  .cart-table.cart .th:last-child {
    width: 20%;
  }
  .cart-table.payment {
    border-bottom: 1px solid #f1f1f1;
  }
  .cart-table.payment .tr .td {
    display: block;
    float: left;
  }
  .cart-table.payment .tr .td:first-child {
    width: 15%;
    border-right: none;
  }
  .cart-table.payment .tr .td:last-child {
    width: 85%;
    border-left: none;
  }
  .cart-table.deliv-time .tr .th {
    font-size: 13px;
    text-align: left;
  }
  .cart-table.deliv-time .tr .td {
    vertical-align: middle;
    font-size: 13px;
  }
  .cart-table.deliv-time .tr .td:first-child {
    background: #f7f7f7;
  }
  .cart-table.add-deliv .tr .td:first-child {
    display: block;
    background: #f7f7f7;
    border: 1px solid #f1f1f1;
    text-align: center;
  }
  .cart-table.add-deliv .tr .td:nth-child(2) {
    display: none;
  }
  .cart-table.add-deliv .tr .td:nth-child(4) {
    display: block;
    float: left;
    width: 50%;
  }
  .cart-table.add-deliv .tr .td:last-child {
    display: block;
    float: left;
    width: 50%;
  }

}
@media screen and (max-width: 599px) {
  .cart-table .img-box p {
    width: 230px;
  }
  .cart-table .img-box .delete {
    position: static;
    width: auto;
    margin: 10px 0 0 0;
    text-align: right;
  }
  .cart-table.deliv .td {
    border-top: none;
  }
  .cart-table.deliv .quant,
  .cart-table.deliv .deliv {
    float: none;
    width: 100%;
    padding: 0;
    text-align: center;
    border-left: 1px solid #f1f1f1;
    border-right: 1px solid #f1f1f1;
    border-bottom: none;
  }
  .cart-table.deliv {
  border-top:1px solid #F1F1F1;
  border-bottom:none;
  }
}


