body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:807px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u987_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u987 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:26px;
  width:141px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u988 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u989 {
  border-width:0px;
  position:absolute;
  left:329px;
  top:75px;
  width:199px;
  height:30px;
}
#u989_input {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u989_input:disabled {
  color:grayText;
}
#u990 {
  border-width:0px;
  position:absolute;
  left:538px;
  top:75px;
  width:199px;
  height:30px;
}
#u990_input {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u990_input:disabled {
  color:grayText;
}
#u991_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u991 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:81px;
  width:58px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u992 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u991_ann {
  border-width:0px;
  position:absolute;
  left:76px;
  top:77px;
  width:1px;
  height:1px;
}
#u993 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:75px;
  width:199px;
  height:30px;
}
#u993_input {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u993_input:disabled {
  color:grayText;
}
#u994 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:145px;
  width:199px;
  height:34px;
}
#u994_input {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u995_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u995 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:154px;
  width:58px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u996 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u997 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:219px;
  width:199px;
  height:34px;
}
#u997_input {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u998_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u998 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:228px;
  width:58px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u999 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u1000 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:995px;
  width:316px;
  height:30px;
}
#u1000_input {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1001_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u1001 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:1001px;
  width:58px;
  height:16px;
  font-size:13px;
}
#u1002 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u1003 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1004 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1005_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FF0000;
}
#u1005 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:1031px;
  width:92px;
  height:16px;
  font-size:13px;
  color:#FF0000;
}
#u1006 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u1007_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1007 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:1032px;
  width:15px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FF0000;
}
#u1008 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:11px;
  word-wrap:break-word;
}
#u1009 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1010 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1011_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FF0000;
}
#u1011 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:259px;
  width:92px;
  height:16px;
  font-size:13px;
  color:#FF0000;
}
#u1012 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u1013_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1013 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:260px;
  width:15px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FF0000;
}
#u1014 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:11px;
  word-wrap:break-word;
}
#u1015 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1016 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1017_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FF0000;
}
#u1017 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:185px;
  width:92px;
  height:16px;
  font-size:13px;
  color:#FF0000;
}
#u1018 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u1019_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1019 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:186px;
  width:15px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FF0000;
}
#u1020 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:11px;
  word-wrap:break-word;
}
#u1021 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1022 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1023_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FF0000;
}
#u1023 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:110px;
  width:92px;
  height:16px;
  font-size:13px;
  color:#FF0000;
}
#u1024 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u1025_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1025 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:111px;
  width:15px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FF0000;
}
#u1026 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:11px;
  word-wrap:break-word;
}
#u1027 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:448px;
  width:316px;
  height:30px;
}
#u1027_input {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1028_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u1028 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:454px;
  width:32px;
  height:16px;
  font-size:13px;
}
#u1029 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u1030 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1031 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1032_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FF0000;
}
#u1032 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:484px;
  width:66px;
  height:16px;
  font-size:13px;
  color:#FF0000;
}
#u1033 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u1034_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1034 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:485px;
  width:15px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FF0000;
}
#u1035 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:11px;
  word-wrap:break-word;
}
#u1036 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:292px;
  width:199px;
  height:34px;
}
#u1036_input {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1037_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u1037 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:292px;
  width:58px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u1038 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u1039 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:366px;
  width:199px;
  height:34px;
}
#u1039_input {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1040_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u1040 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:366px;
  width:58px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u1041 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u1042 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1043 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1044_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FF0000;
}
#u1044 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:406px;
  width:92px;
  height:16px;
  font-size:13px;
  color:#FF0000;
}
#u1045 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u1046_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1046 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:407px;
  width:15px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FF0000;
}
#u1047 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:11px;
  word-wrap:break-word;
}
#u1048 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1049 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1050_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FF0000;
}
#u1050 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:332px;
  width:92px;
  height:16px;
  font-size:13px;
  color:#FF0000;
}
#u1051 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u1052_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1052 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:333px;
  width:15px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FF0000;
}
#u1053 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:11px;
  word-wrap:break-word;
}
#u1054 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:522px;
  width:316px;
  height:30px;
}
#u1054_input {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1055_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u1055 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:529px;
  width:32px;
  height:16px;
  font-size:13px;
}
#u1056 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u1057 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1058 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1059_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FF0000;
}
#u1059 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:558px;
  width:66px;
  height:16px;
  font-size:13px;
  color:#FF0000;
}
#u1060 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u1061_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1061 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:559px;
  width:15px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FF0000;
}
#u1062 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:11px;
  word-wrap:break-word;
}
#u1063 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:595px;
  width:375px;
  height:80px;
}
#u1063_input {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:80px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1064_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u1064 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:602px;
  width:58px;
  height:16px;
  font-size:13px;
}
#u1065 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u1066 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1067 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1068_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FF0000;
}
#u1068 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:681px;
  width:66px;
  height:16px;
  font-size:13px;
  color:#FF0000;
}
#u1069 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u1070_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1070 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:682px;
  width:15px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FF0000;
}
#u1071 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:11px;
  word-wrap:break-word;
}
#u1072_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u1072 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:725px;
  width:70px;
  height:32px;
  font-size:13px;
}
#u1073 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u1074_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1074 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:718px;
  width:90px;
  height:30px;
}
#u1075 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  word-wrap:break-word;
}
#u1074_ann {
  border-width:0px;
  position:absolute;
  left:204px;
  top:714px;
  width:1px;
  height:1px;
}
#u1076 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1077 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1078_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FF0000;
}
#u1078 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:775px;
  width:66px;
  height:16px;
  font-size:13px;
  color:#FF0000;
}
#u1079 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u1080_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1080 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:776px;
  width:15px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FF0000;
}
#u1081 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:11px;
  word-wrap:break-word;
}
#u1082 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1083_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FF0000;
}
#u1083 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:796px;
  width:79px;
  height:16px;
  font-size:13px;
  color:#FF0000;
}
#u1084 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u1085_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1085 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:797px;
  width:15px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FF0000;
}
#u1086 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:11px;
  word-wrap:break-word;
}
#u1087_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1087 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:726px;
  width:187px;
  height:16px;
}
#u1088 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  white-space:nowrap;
}
#u1089 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1090_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#999999;
}
#u1090 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:753px;
  width:319px;
  height:16px;
  font-size:13px;
  color:#999999;
}
#u1091 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  white-space:nowrap;
}
#u1092_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u1092 {
  border-width:0px;
  position:absolute;
  left:444px;
  top:757px;
  width:10px;
  height:10px;
  color:#FF9900;
}
#u1093 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1094_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u1094 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:841px;
  width:51px;
  height:16px;
  font-size:13px;
}
#u1095 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u1096_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1096 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:834px;
  width:90px;
  height:30px;
}
#u1097 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  word-wrap:break-word;
}
#u1096_ann {
  border-width:0px;
  position:absolute;
  left:204px;
  top:830px;
  width:1px;
  height:1px;
}
#u1098_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#999999;
}
#u1098 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:870px;
  width:292px;
  height:16px;
  font-size:13px;
  color:#999999;
}
#u1099 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  white-space:nowrap;
}
#u1100_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u1100 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:874px;
  width:10px;
  height:10px;
  color:#FF9900;
}
#u1101 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1102 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1103 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1104_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FF0000;
}
#u1104 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:893px;
  width:79px;
  height:16px;
  font-size:13px;
  color:#FF0000;
}
#u1105 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u1106_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1106 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:894px;
  width:15px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FF0000;
}
#u1107 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:11px;
  word-wrap:break-word;
}
#u1108_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1108 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:841px;
  width:187px;
  height:16px;
}
#u1109 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  white-space:nowrap;
}
#u1110 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:931px;
  width:99px;
  height:30px;
}
#u1110_input {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1111_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u1111 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:938px;
  width:53px;
  height:16px;
  font-size:13px;
}
#u1112 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u1113 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:931px;
  width:99px;
  height:30px;
}
#u1113_input {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1114 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:931px;
  width:99px;
  height:30px;
}
#u1114_input {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1115 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:931px;
  width:99px;
  height:30px;
}
#u1115_input {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1116_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u1116 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:1117px;
  width:53px;
  height:16px;
  font-size:13px;
}
#u1117 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u1118 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:1117px;
  width:100px;
  height:16px;
}
#u1119 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1118_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1120 {
  border-width:0px;
  position:absolute;
  left:231px;
  top:1117px;
  width:100px;
  height:16px;
}
#u1121 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1120_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1122_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1122 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:1260px;
  width:140px;
  height:30px;
}
#u1123 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u1124_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1124 {
  border-width:0px;
  position:absolute;
  left:419px;
  top:1260px;
  width:140px;
  height:30px;
}
#u1125 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u1126_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:785px;
  height:2px;
}
#u1126 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:1236px;
  width:784px;
  height:1px;
}
#u1127 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:780px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1128 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:1166px;
  width:316px;
  height:30px;
}
#u1128_input {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1129_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u1129 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:1173px;
  width:27px;
  height:16px;
  font-size:13px;
}
#u1130 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u1131_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u1131 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:1073px;
  width:27px;
  height:16px;
  font-size:13px;
}
#u1132 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u1133 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:1073px;
  width:100px;
  height:16px;
}
#u1134 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1133_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1135 {
  border-width:0px;
  position:absolute;
  left:231px;
  top:1073px;
  width:100px;
  height:16px;
}
#u1136 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1135_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1137 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1138_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u1138 {
  border-width:0px;
  position:absolute;
  left:574px;
  top:938px;
  width:53px;
  height:16px;
  font-size:13px;
}
#u1139 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u1138_ann {
  border-width:0px;
  position:absolute;
  left:620px;
  top:934px;
  width:1px;
  height:1px;
}
#u1140_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1140 {
  border-width:0px;
  position:absolute;
  left:557px;
  top:939px;
  width:15px;
  height:15px;
  font-size:10px;
}
#u1141 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:11px;
  word-wrap:break-word;
}
