body{
	font-family: 'Helvetica Neue', Arial, sans-serif, 微軟正黑體, FreeSans, 'Lantinghei SC Extralight', 'Heiti TC Light', Meiryo, 'Microsoft JhengHei', sans-serif;
	color:#454545;
	font-size:15px;
}
.h1, .h2, .h3, h1, h2, h3 {
	margin-top: 10px;
}
.h1, h1 {
	font-size: 33px;
	line-height:50px;
}
.h2, h2 {
	font-size: 23px;
	line-height:34px;
}
.h3, h3 {
	font-size: 19px;
	line-height:28px;
}

.h4, h4 {
	font-size: 16px;
	line-height:28px;
}

p{ line-height:1.8; }

a:link, .btn-link{ color:#454545; text-decoration: none; outline: none; }
.btn-link{ font-size:1.2em;}
a:visited, .btn-link:visited{ color:#454545; text-decoration:none; }
a:hover{ color:#52646c; text-decoration:none; }
.btn-link:hover{ color:#4d9891; text-decoration:none; border-bottom:0px solid #94c1bd; padding-bottom:3px; border-radius:0; }
.text-danger:link{ color:#a94442;}

.text-small{
	color:#4d9891;
	font-size: 12px;
}

.btn.active, .btn:active {
	-webkit-box-shadow: inset 0 3px 0px rgba(0,0,0,.125);
	box-shadow: inset 0 0px 0px rgba(0,0,0,.125);
}
.btn-outline,.btn-outline:link{
	color: #4d9891!important;
	background-color: transparent;
	border:1px solid #4d9891;
}
.btn-outline:focus,.btn-outline:hover{
	color:#fff !important;
	background-color:#94c1bd;
	border:1px solid #94c1bd;
}
.btn-outline:active{
	color: #fff!important;
	background-color: #4d9891;
	border:1px solid #4d9891;
}	

.btn-outline.active{
	color: #fff!important;
	background-color: #4d9891;
	border-color: #4d9891;
}

.btn-primary {
	color: #fff!important;
	background-color: #4d9891;
	border-color: #4d9891;
}
.btn-primary.focus, .btn-primary:focus {
	color: #fff;
	background-color: #94c1bd;
	border-color: #94c1bd;
}
.btn-primary:hover {
	color: #fff;
	background-color: #94c1bd;
	border-color: #94c1bd;
}
.btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary {
	color: #fff;
	background-color: #4d9891;
	border-color: #94c1bd;
}
.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover {
	color: #fff;
	background-color: #4d9891;
	border-color: #4d9891;
}
.btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary {
	background-image: none;
}
.btn-primary.disabled.focus, .btn-primary.disabled:focus, .btn-primary.disabled:hover, .btn-primary[disabled].focus, .btn-primary[disabled]:focus, .btn-primary[disabled]:hover, fieldset[disabled] 	.btn-primary.focus, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:hover {
	background-color: #94c1bd;
	border-color: #94c1bd;
}
.btn-primary .badge {
	color: #94c1bd;
	background-color: #fff;
}

.btn-warning{
	color:#fff!important;
	background-color:#ef8200;
	border-color: #ef8200;
}

.btn-warning:hover {
	background-color: #f8b667;
	border-color: #f8b667;
}

.more-top{
	margin-top:50px;
}

.row-footer{
	padding-top: 50px;
	border-top: 1px solid #eee;
}

.order{
	padding: 0px 5px 30px 5px;
}

.pagination{
	margin:0;
}

.label-primary {
	background-color: #4d9891;
}
.text-primary{
	color:#4d9891;
}

.gotop{
	text-align:center;
	width:40px; height:40px;
	background-color:#4d9891;
	position:fixed;
	bottom:30px; right:30px;
	border-radius:50%;
	padding-top: 5px;
	z-index:999;
}
a.gotop:link{ color:#fff; font-size:12px; line-height:10px; text-decoration:none;}
a.gotop:hover{ opacity:0.6;}

#blog .thumbnail{
	border-radius:0;
	padding: 0;
	border: 0px solid #eee;
}

.panel-default {
	border-color: #eee;
}
.panel-default .panel-heading {
	border-color: #eee;
}

.panel-default .panel-heading .panel-title:before{
	content:"";
	width: 3px;
	height: 13px;
	border-radius:4px;
	background-color:#ef8200;
	display: inline-block;
	margin-right: 8px;
}
.panel-footer {
	border-top: 1px solid #eee;
}

.label { padding: .3em .6em .3em;}

/* 導覽列 */
.navbar {
	margin-bottom: 0;
	border-radius: 0;
	min-height: 60px;
}
.navbar-brand{
	padding: 5px;
}

.navbar-default{
	background-color:#fff;
	border-color: #e5eaee;
}

.navbar-default .navbar-nav li a{
	font-size:16px;
	color:#52646c;
	margin:0;
}
.navbar-default .navbar-nav li a:hover{
	color:#94c1bd;
}

.navbar-default .navbar-nav .active a{
	color:#52646c;
	background-color:transparent;
	border-color:#ef8200; border-bottom-style:solid;
	border-width:3px;
	border-radius:2px;
}
.navbar-default .navbar-nav .active a:hover{
	color:#52646c;
	background-color:transparent;
}

.navbar-default .navbar-nav .dropdown-toggle.ON,.navbar-default .navbar-nav li .ON{
	color:#ef8200;
}

.nav-list li+li:before{
	content:"|";
	color:#e5eaee;
	font-size:13px;
	margin-right:10px;
	padding-left:0;
	float:left;
}
.fa-member{ font-size:1.3em;}
.fa-shop{ font-size:1.2em;}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
	color:#ef8200;
	background-color:transparent;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	background-color: transparent;
}


.navbar-right .dropdown-menu {
	right: 0;
	left: 0;
}

.dropdown-menu{
	padding:0;
	border: 0px solid #e5eaee;
	border-top: 3px solid #4d9891;
	border-radius: 5px;	
	border-top-left-radius:6px!important;
	border-top-right-radius:6px!important;
	min-width: 120px;
}

.dropdown-menu li+li:before{
	content:"";
}
.dropdown-menu li a{
	font-size:15px!important;
	padding:10px 20px 10px 20px!important;
	border-bottom:0px solid #e5eaee;
}
.dropdown-menu > li:first-child,.dropdown-menu > li:first-child a{
	border-top-left-radius:4px;
	border-top-right-radius:4px;
}
.dropdown-menu > li:last-child a{
	border-bottom:0px dotted #e5eaee;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}
.dropdown-menu li a:hover{
	color:#fff!important;
	background-color:#4d9891;
}
.menu-all a{
	color:#e5eaee!important;
	background-color:#454545!important;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}
.menu-all a:hover{
	color:#fff!important;
	background-color:#4d9891!important;
}
.menu-list{
	font-size: 12px;
	color: #4d9891;
	/*background-color: #e7eaef;*/
	padding: 15px 20px 5px 20px;
	border-bottom: 1px solid #e5eaee;
}
.icon-login,.icon-login a{
	background-image:url("../../images/icon_off.svg");
	background-repeat:no-repeat;
	background-size:20px auto;
	background-position:center -20px;
	text-indent: -9999px;
}

.icon-shop,.icon-shop a{
	background-image:url("../../images/icon_off.svg");
	background-repeat:no-repeat;
	background-size:20px auto;
	background-position:center -40px;
}
.icon-logout,.icon-logout a{
	background-image:url("../../images/icon_off.svg");
	background-repeat:no-repeat;
	background-size:20px auto;
	background-position:center -60px;
	text-indent: -9999px;
}

#mobile-share .icon-shop{
	text-indent: -9999px;
}

.shop-nummber{
	display: block;
	position: absolute;
	width: 20px;
	height: 20px;
	line-height: 20px;
	font-size: 12px;
	color: #fff;
	background-color: #ef8200;
	border-radius: 50%;    
	text-align: center;
	margin-left: 0;
	margin-top: -10px;
}

#mobile-share .shop-nummber {
    display: inline;
    position: relative;
    width: auto;
    height: 20px;
    line-height: 0;
    font-size: 12px;
    color: #ef8200;
    background-color: transparent;
    border-radius: 0;
    text-align: center;
    padding: 0px;
    margin-left: 0px!important;
    margin-top: 0px!important;
}
#mobile-share .shop-nummber:before{
	content:"(";
}
#mobile-share .shop-nummber:after{
	content:")";
}
#mobile-share .col-xs-3 {
	padding-right: 0;
    padding-left: 0;
}

.icon-home, .icon-home a{
	background-image:url("../../images/icon_off.svg");
	background-repeat:no-repeat;
	background-size:20px auto;
	background-position:center 0;
	text-indent: -9999px;
}

.icon-login a:hover, .icon-shop a:hover, .icon-home a:hover,.icon-logout a:hover{
	background-image:url("../../images/icon_on.svg");
}

.icon-shop-position{
	display: block;
	width: 20px;
	height: 20px;
	float: left;
	margin-right: 5px;
	margin-top: -1px;
}

.text-ellipsis{
	margin: 0 0 10px 0;
	width:100%;
	text-overflow:
	ellipsis;
	white-space:nowrap;
	overflow:hidden;
}

.form-control{
	margin-bottom: 5px;
}

.info-more{
	display: block;
	font-size:14px;
	margin-bottom: 10px;	
}

.size{
	display:block;
	width: 40px;
	height:40px;
}
.size img{
	border-radius: 4px;	
}
a.size:hover{
	border: 1px solid #454545;
	border-radius: 4px;
	padding: 2px;
}

.size.active{
	border: 1px solid #454545;
	cursor: default;
	border-radius: 4px;
	padding: 2px;
}

.form-horizontal .list-inline li{
	padding-right: 0;
}

/*手機版下拉選單*/
.navbar-toggle{
	margin-top: 14px;
}

.navbar-default .navbar-toggle,.navbar-default .navbar-toggle:active{
	border:1px solid transparent;
}
.navbar-default .navbar-toggle:hover{
	background-color:#4d9891;
}
.navbar-default .navbar-toggle:hover .icon-bar {
	background-color: #fff;
}
@media (min-width: 768px){
	section{
		margin-bottom:60px;
	}
	.navbar-nav {
		margin-top: 20px;
	}
	.navbar-right{
		float:none!important;
	}
	.navbar-default .navbar-brand{
		margin-top: 0px;
		margin-left: 0px!important;
	}
	.navbar-default .navbar-nav li a{
		padding:0 15px;
	}
	.navbar-default .navbar-nav .active a, .navbar-default .navbar-nav li a{
		padding-bottom: 10px;
		transition: 0.2s linear;

	}

	.navbar-nav li .dropdown-menu{
		margin-top:-5px;
	}

	/* 平板直式時, 漢堡標顯示, 選單隱藏 */
	.navbar-header{
		float:none;
	}
	.navbar-toggle{
		display:block;
		margin-right: 0;
	}
	.my-navbar{
		display:none!important;
		border-color:#e5eaee;
		border-top-style:solid;
		border-width:1px;
		padding-top: 5px;
	}

	.my-navbar.rightIn.open{
		display:block!important;
		margin-top: 10px;
	}
	/* 平板直式時, 漢堡標顯示, 選單隱藏 */
}


@media screen and (min-width:992px){
	.navbar-default .navbar-brand{
		margin-top: 10px;
		margin-left: -15px!important;
	}
	.navbar-default .navbar-nav li a{
		padding:0 25px;
	}

	.navbar-nav{
		margin-top:30px;
	}
	.navbar-default .navbar-nav .active a{
		padding-bottom: 25px!important;
	}

	.navbar-nav li .dropdown-menu{
		margin-top:18px;
	}
	.navbar-right{
		float:right!important;
	}

	/* 桌機時, 漢堡標隱藏, 選單顯示 */
	.navbar{
		height:80px;
	}
	.navbar-header{
		float:left;
	}
	.navbar-toggle{
		display:none;
	}
	.my-navbar{
		display:block!important;
		border-width:0px;

	}
	/* 桌機時, 漢堡標隱藏, 選單顯示 */
}

@media screen and (max-width:767px){
	section{
		margin-bottom:50px;
	}
	.more-top{
		margin-top:30px;
	}
	.navbar-default .navbar-brand{
		margin-top: 0px;
		margin-left: 15px!important;
	}

	.my-navbar{
		position: fixed;
		background-color: #4d9891;
		overflow: auto;
		width: 100%;
		height: 100vh;
		top: 60px;
		z-index: 9;
		height: calc(100vh - 50px);
		transition: .5s;
	}
	.my-navbar .navbar-nav{ margin: 0;}
	.my-navbar .navbar-nav li a{
		color:#e0fffc;
		line-height:25px;
		border-bottom:1px dotted #94c1bd!important;
		padding-left: 15px;
	}
	.navbar-default .navbar-nav li a:hover{
		color:#fff!important;
		background-color:#4d9891!important;
	}
	.navbar-default .navbar-nav .active a{
		color:#94c1bd;
		background-color:#4d9891;
		padding-bottom: 10px;
	}
	.nav-list li:before{
		content:"";
		display:none;
	}
	.navbar-default .navbar-nav .open .dropdown-menu li a,.navbar-default .navbar-nav .open .dropdown-menu li a:active{
		color:#555;
		line-height:25px;
		background-color:#e7eaef;
		padding-left:20px!important;
	}
	.navbar-default .navbar-nav .open .dropdown-menu li a:hover{
		background-color:#7f96a1;
	}

	.nav li a{
		padding: 10px;
	}

	/* 選單由左滑入 */
	.leftIn{ left: -100%;}

	/* 選單由右滑入 */
	.rightIn{ right: -100%;}
	.my-navbar.leftIn.open{ left: 0;}
	.my-navbar.rightIn.open{ right: 0;}

	.dropdown-menu{
		border-radius: 0px;
	}
	.dropdown-menu > li:first-child,.dropdown-menu > li:first-child a{
		border-top-left-radius:0px;
		border-top-right-radius:0px;
	}
	.dropdown-menu > li:last-child a,.menu-all{
		border-bottom-left-radius:0px;
		border-bottom-right-radius:0px;
	}
	.menu-all a{
		color:#fff!important;
		background-color:#94c1bd!important;
	}
	.menu-list{
		color:#fff;
		background-color: #94c1bd;
		padding: 5px 15px 0px 15px;
	}
	.order{
		padding: 0px 0px 20px 0px;
		border-bottom:1px solid #e5eaee;
		margin-bottom: 20px;
		text-align:center;
	}
	.navbar-default .navbar-nav .dropdown-toggle.ON, .navbar-default .navbar-nav li .ON {
		color: #fff;
	}
	.gotop{
		display:none;
	}
}

/* index:slider; */
#slider-box{
	background:url(../../images/bg.jpg) repeat;
	background-color:#e5eaee;
}

#owl-slider .item{
	width:100%;
	height: 0;
	padding-bottom: 52.5%;
	text-indent:-9999px;
	background-size:cover;
	background-repeat: no-repeat;
}
.slider01{ background-image: url(../../../Uploads/Poster/slider01.jpg); }
.slider02{ background-image:url(../../../Uploads/Poster/slider02.jpg); }
.slider03{ background-image:url(../../../Uploads/Poster/slider03.jpg); }
.slider04{ background-image:url(../../../Uploads/Poster/slider04.jpg); }
.slider05{ background-image:url(../../../Uploads/Poster/slider05.jpg); }

.padding-top-60{
	padding-top: 60px!important;
}

@media (min-width: 768px){
	#slider-box{
		margin-top:60px;
		margin-bottom:0px;
	}
}

@media screen and (min-width: 768px) and (max-width: 1024px){
	.icon-login,.icon-login a,.icon-shop,.icon-shop a,.icon-home, .icon-home a, .icon-logout,.icon-logout a{
		background-image:url("../../images/icon_on.svg");
		margin-bottom: 4px;
	}
	.gotop{
		display:none;
	}
}

@media (min-width: 992px){
	#slider-box{
		margin-top:80px;
		margin-bottom:0px;
	}
}

@media screen and (max-width:767px){
	#slider-box{
		margin-top:60px;
		margin-bottom:0px;
	}
	#owl-slider .item{
		width:100%;
		height: 0;
		padding-bottom: 148.14%;
		text-indent:-9999px;
		background-size:cover;
		background-repeat: no-repeat;
	}
	.slider01{ background-image:url(../../../Uploads/Poster/slider01_m.jpg); }
	.slider02{ background-image:url(../../../Uploads/Poster/slider02_m.jpg); }
	.slider03{ background-image:url(../../../Uploads/Poster/slider03_m.jpg); }
	.slider04{ background-image:url(../../../Uploads/Poster/slider04_m.jpg); }
	.slider05{ background-image:url(../../../Uploads/Poster/slider05_m.jpg); }

	.icon-login,.icon-login a,.icon-shop,.icon-shop a,.icon-home, .icon-home a, .icon-logout,.icon-logout a{
		background-image:url("../../images/icon_on.svg");
		margin-bottom: 4px;
	}
	.padding-top-60{
		padding-top: 25px!important;
	}
}

/* page-header */
.page-header {
	text-align:center;
	padding-bottom: 9px;
	margin: 0px;
	border-bottom: 0px solid #eee;
}
.page-header .h1{
	font-weight: 900;
	letter-spacing: 20px;
}

small.page-slogan{
	font-weight:900;
	margin-left: 20px;
}

@media (min-width: 768px){
	.page-header-bottom { margin-bottom:30px;}
}
@media (min-width: 992px){
	.page-header-bottom { margin-bottom:50px;}
}
@media screen and (max-width:767px){
	.page-header-bottom { margin-bottom:0px;}
	#how{
		padding:50px 0;
	}
	.page-header .h1{
		font-weight: bolder;
		letter-spacing: 0px;
	}
	small.page-slogan{
		font-weight:bolder;
		margin-left: 10px;
	}
}

/* index:how */
#how{
	/*background-color:#7f96a1;*/
	background:url(../../images/bg.jpg) repeat;
	background-color:#e5eaee;
}

.who-intro{
	margin-bottom: 60px;
}

.who-intro h3{
	line-height:2;
	letter-spacing:3px;
	text-align: justify;
}

.text-ef8200{
	color:#ef8200;
}

#how figure{
	position: relative;
	background-color: #454545;
	border-radius: 6px;
}

#how figure img {
	opacity: .3;
	border-radius: 6px;
}

.middle-logo {
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	opacity: 1;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

#how .caption p{
	margin-top: 10px;
	line-height:1.6;
}

@media (min-width: 768px){
	#how{
		padding:50px 0;
	}
	#how .steps{
		margin:20px;
	}
}
@media (min-width: 992px){
	#how{
		padding:80px 0;
	}
	#how .steps{
		margin:30px;
	}
}
@media screen and (max-width:767px){
	#how{
		padding:50px 0;
	}
	#how .steps{
		margin:0 25px 30px 25px;
	}
	.who-intro {
		margin-bottom: 30px;
	}
}

/* index:brand */
#brand{
	background-color: #454545;
	background-image:url(../../images/bg_brand.jpg);
	background-position:top right;
	background-size:cover;
	opacity:1;
	padding: 70px 0 70px 0;
}

#brand .flexslider .slides > li >.img-brand{
	margin:5px;
}

@media (min-width: 992px){
	#brand .img-brand img{
		display:inline-block;
		width: 150px;
		border-radius: 6px;		
	}
}
a.img-brand:link{
	display:block;
	text-align:center;
	box-shadow:0px 0px 0px #bababa;
	transition: .2s ease-out;
	border-radius: 6px;
	opacity:1;
}
a.img-brand:hover{
	box-shadow:0px 0px 6px #959595;
	border-radius: 3px;
	transition: .2s ease-in-out;
}
a.img-brand:active{
	box-shadow:0px 0px 0px #bababa;
	transition: .2s ease-out;
}

/* index:blog */
#blog .panel, #blog .panel-footer{
	
}
#blog img{
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

#blog .date{
	line-height:0.9;
}

.page-header .more{
	float:right;
	margin-top: 13px;
}

.panel-footer .more{
	float:right;
	margin-top: 3px;
}

a.panel-link {
	display:block;
	text-decoration:none;
	box-shadow:0px 0px 0px #d8d8d8;
	transition: box-shadow .1s ease-out;
	border-radius: 6px;
}
.panel-link p{
	line-height:1.6;
	letter-spacing:1px;
}

a.panel-link:hover{
	text-decoration:none;
	box-shadow:0px 0px 8px #959595;
	transition: box-shadow .2s ease-in-out;
	/* opacity: 0.6; */
}

a.panel-link:active {
	text-decoration:none;
	box-shadow:0px 0px 0px #959595;
	transition: box-shadow .1s ease;
}

.cd-img{
	position: relative;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}


#blog .cd-img-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(45, 45, 45, 0.8);
	opacity: 0;
	border-radius: 0px 0px 0 0;
	-webkit-transition: opacity 0.3s;
	-moz-transition: opacity 0.3s;
	transition: opacity 0.3s;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

#blog .panel-link:hover .cd-img-overlay {
	opacity: 1;
}

#blog .cd-img-overlay span {
	position: absolute;
	left: 50%;
	top: 50%;
	bottom: auto;
	right: auto;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	color: #FFF;
}

.cd-img-overlay .btn-outline, .cd-img-overlay .btn-outline:active{
	color: #fff !important;
	background-color: transparent;
	border:1px solid #fff;
	width:50%;
	opacity:1;
}

.cd-img-overlay .btn-outline:focus,.cd-img-overlay .btn-outline:hover{
	opacity:0.6;
}
@media (min-width: 768px){
	#blog .panel-link .panel-body{
		height: 270px;
	}
}

@media (min-width: 992px){
	#blog .panel-link .panel-body{
		height: 200px;
	}
}


/*blog.html:*/
#topbanner {
	margin-bottom: 0;
}
#topbanner .topbanner-how{
	background-image: url('../../images/demo10.jpg');
	background-size:cover;
	background-position: center center;
}
#topbanner .topbanner-blog{
	background-image: url('../../images/demo09.jpg');
	background-size:cover;
	background-position: center center;
}
#topbanner .topbanner-brand{
	background-image: url('../../images/demo11.jpg');
	background-size:cover;
	background-position: center center;
}
#topbanner .topbanner-get{
	background-image: url('../../images/bg_brand.jpg');
	background-size:cover;
	background-position: center center;
}
.jumbotron{
	position: relative;	
	background-color:rgba(0,0,0,0.5);
	margin-top:30px;
	padding: 0;
	text-align: center;
	height: 150px;
}
.blog-title{
	position: absolute;
	top: 0px;
	left: 0;
	width: 100%;
	height: 100%;
	color:#fff;
}
.blog-title:before{
	content:'';
	display:inline-block;
	width: 0;
	height: 100%;
	vertical-align: middle;
}
.blog-title .container{
	display:inline-block;
	vertical-align: middle;
}

.jumbotron .h1{
	font-size: 32px;
	font-weight: 900;
	letter-spacing: 20px;
	margin-bottom: 0;
}
.jumbotron .h1 small{
	color:#fff;
}

/*.jumbotron .h1:before {
	content: "{";
	color: #fff;
	margin-right: 30px;
}
.jumbotron .h1:after {
	content: "}";
	color: #fff;
	margin-left: 30px;
	}*/
	@media screen and (min-width: 768px) and (max-width: 1024px){
		.jumbotron {
			margin-top: -30px;
		}
	}
	@media screen and (max-width:767px){
		.jumbotron .h1{
			font-size: 24px;
			font-weight: bolder;
			letter-spacing: 5px;
		}
		.jumbotron .h1 small{
			color:#fff;
		}

	/*.jumbotron .h1:before {
		content: "{";
		color: #fff;
		margin-right: 10px;
	}
	.jumbotron .h1:after {
		content: "}";
		color: #fff;
		margin-left: 10px;
		}*/

	}

	/*blog-detail.html*/
	.next{ text-align:right; }
	.prev{ text-align:left;  }
	@media (min-width: 768px){
		#blog-detail{
			margin-top:70px;
			margin-bottom:80px;
		}
	}

	@media (min-width: 992px){
		#blog-detail{
			margin-top:110px;
			margin-bottom:80px;
		}
	}

	@media screen and (max-width:767px){
		#blog-detail{
			margin-top:70px;
			margin-bottom:50px;
		}
		.prev,.next{ text-align:left; }
	}

	/*FAQ*/
	.panel-faq{
	}
	.panel-q{
		border-bottom: 1px solid #eee;
		padding: 20px 0;
	}
	.icon-q{
		display:inline-block;
		width: 30px;
		height: 30px;
		font-size:15px;
		line-height:30px;
		color:#fff;
		background-color:#4d9891;
		text-align:center;
		margin:0 10px;
		float:left;
	}
	.panel-a{
		padding: 20px 0;
	}
	.icon-a{
		display:inline-block;
		width: 30px;
		height: 30px;
		font-size:15px;
		line-height:30px;
		color:#fff;
		background-color:#ef8200;
		text-align:center;
		margin:0 10px;
		float:left;
	}
	.margin-left50{
		padding-top: 5px;
		margin-left: 50px;
	}

	/* footer */
	#mobile-share{
		position:fixed;
		bottom:0;
		width:100%;
		background-color:#4d9891;
		padding-top: 10px;
		text-align: center;
		z-index:11;
	}

	#mobile-share p{
		color:#e0fffc;
		padding:0;
		line-height:1em;
		font-size:12px;
		margin-bottom: 5px;
	}
	#mobile-share fa{
		margin-bottom:5px;
	}

	#mobile-share a{
		color:#94c1bd;
		text-decoration:none;
	}

	#mobile-share a:hover{
		opacity:0.6;
	}

	#mobile-share .fa-home{
		font-size:25px;
		line-height:25px;
	}
	#mobile-share .fa-user{
		font-size:23px;
		line-height:25px;
	}
	#mobile-share .fa-shopping-bag{
		font-size:20px;
		line-height:25px;
	}
	#mobile-share .fa-angle-up{
		font-size:23px;
		line-height:21px;
	}

	.footer-link, .footer-share{
		display:inline-block;
	}
	.footer-link li+li:before {
		content: "|";
		font-size:13px;
		padding-right: 1.1em;
		color:#e5eaee;
	}

	footer .container{
		border-top: 1px solid #eee;
		padding: 30px 0;
	}

	footer .container p{
		font-size:12px!important;
		line-height:1.5;
	}

	footer .fa-icon{ 
		font-size:1.5em;
	}

	footer .info{
		list-style:none;
		font-size:12px;
	}

	footer .info a:link{
		color:#52646c;
	}

	@media (min-width: 768px){
		footer .container{
			padding-bottom:80px;
			text-align:center;
		}
	}
	@media (min-width: 992px){
		footer .container{
			text-align:left;
		}
	}
	@media screen and (max-width:767px){
		footer .container{
			padding-bottom:80px;
			text-align:center;
		}
		.footer-link, .footer-share{
			display:block;
		}
		.footer-link li:after {
			content: "";
			display:none;
		}
		.footer-link li + li:before {
			content: "|";
			font-size:13px;
			padding-right: 1.1em;
			color:#94c1bd;
		}
	}


	/*購物車彈跳視窗*/
	#modal-shop .modal-footer {
		padding-top: 15px;
		border-top: 1px solid #e5e5e5;
		margin-top: -16px;
	}
	#modal-shop .modal-title{
		color:#52646c;
	}
	.modal-backdrop.in{
		background-color:#52646c;
		opacity:.7;
	}
	/* modal垂直置中:`modal; */
	.modal{
		text-align: center;
		padding: 0!important;
	}
	.modal:before{
		content: '';
		display: inline-block;
		height: 100%;
		vertical-align: middle;
		margin-right: -4px;
	}
	.modal .modal-dialog{
		display: inline-block;
		text-align: left;
		vertical-align: middle;
	}
	.modal-body .shop-item{
		padding:15px 0;
		border-bottom:1px solid #e5e5e5;
	}
	.modal-body .shop-item .caption{
		color:#8b8b8b;
		letter-spacing:2px;
		margin-top:20px;
	}
	.modal-body .shop-item .caption li strong{
		color:#52646c;
		font-weight:bold;
	}
	.modal-body .shop-img{
		border:0px solid #e5e5e5;
	}

	@media screen and (max-width:767px){
		.modal:before{
			content: '';
			display: none;
		}
		.modal-body .shop-item .caption{
			margin-top:0px;
		}
		.modal-body .cart-table{
			width:300px;
		}
		.modal-body .cart-table .img-box figure img{
			display:none;
		}
	}
	@media screen and (max-width:320px){
		.modal-body .cart-table{
			width:260px;
		}
	}

	/*owl*/
	#slider-box .owl-theme .owl-controls{
		margin-top:-30px!important;
	}

	.img-style img{
		height: 80px;
		padding: 10px;
	}

	a.img-style .list-inline{
		padding: 0;
		margin: 0;
		opacity:.6;
	}
	a.img-style .list-inline:hover{
		font-weight:700;
		opacity:1;
	}


	a.img-style .list-inline.item-on{
		font-weight:700;
		opacity:1;
	}
	a.img-style .list-inline.item-on:after{
	/*font-family: FontAwesome;
    content: "\f05d";
    font-weight: normal;
    display: inline-block;
    padding-right: 0px;*/
    content: ".";
    color:#4d9891;
    font-size:25px;
    line-height:0;
    font-weight:700;
    vertical-align:super;
    margin-left: -5px;
    opacity:1;
}

/* get:slider; */
#slider-brand{
	background:url(../../images/bg.jpg) repeat;
	background-color:#e5eaee;
	padding:20px 0;
}
#owl-brand .item{
	padding: 0px;
	text-align:center;

}
#slider-brand .owl-theme .owl-controls{
	margin-top:30px;
}
#slider-brand .owl-controls{
	display:none!important;
}

@media (min-width: 768px){
	#slider-brand{
		margin-top:60px;
		margin-bottom:20px;		
	}
}

@media (min-width: 992px){
	#slider-brand{
		margin-top:80px;
		margin-bottom:10px;
	}
}

@media screen and (max-width:767px){
	#slider-brand{
		margin-top:60px;
		margin-bottom:20px;
	}
}

#shop-cart .form-group .card,.cv-code{
	width: 90px;
}
.list-info{
	padding-left: 20px;
	list-style:decimal;
	line-height:1.8em;
}
.radiobox, .control-info {
	padding-top: 7px;
}

.form-control-number{
	height: 30px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

#shop-cart .alert{
	padding:30px 15px 10px 15px;
}
#shop-cart .well h3{
	margin-top: 10px;
}

@media (min-width: 768px){
	#shop-cart{
		margin-top:100px;
		margin-bottom:80px;
	}

	#shop-cart .panel-body{
		padding:40px 10px 30px 10px;
	}
	#shop-cart .form-control, #blog .form-control{
		height: auto;
	}
}

@media (min-width: 992px){
	#shop-cart{
		margin-top:130px;
		margin-bottom:80px;
	}

	#shop-cart .panel-body{
		padding:50px 10px 40px 10px;
	}
	#shop-cart .form-control, #blog .form-control{
		height: 34px;
	}

}

@media screen and (max-width:767px){
	#shop-cart{
		margin-top:80px;
		margin-bottom:50px;
	}
	#shop-cart .panel-body{
		padding:30px 0px 20px 0;
	}
	#shop-cart .form-control, #blog .form-control{
		margin-bottom: 10px;
		height: auto;
	}
	#shop-cart .form-group .card,.cv-code{
		width: 100%;
	}
	/*#shop-cart .cart-table .img-box figure img{
		display:none;
		}*/

	}

	/*登入會員*/
	.breadcrumb {
		background-color: #fff;
	}
	#member-list .well h3{
		margin-top: 10px;
	}
	#member-list .well {
		margin-bottom: 10px;
		padding: 5px 15px;
		border: 1px solid #eee;
		-webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,0);
		box-shadow: inset 0 0px 0px rgba(0,0,0,0); 
	}

	#member-list .label{
		border-radius:1em;
	}

	#member-list .label-primary{
		background-color:#94c1bd;
	}

	#member-list .form-group .card{
		width: 90px;
	}

	.margin20-0{
		margin: 20px 0 40px 0;
	}

	@media (min-width: 768px){
		#member-list{
			margin-top:70px;
			margin-bottom:80px;
		}
		#member-list .panel-body{
			padding:40px 10px 30px 10px;
		}
	}

	@media (min-width: 992px){
		#member-list{
			margin-top:110px;
			margin-bottom:80px;
		}
		#member-list .panel-body{
			padding:50px 10px 40px 10px;
		}
	}

	@media screen and (max-width:767px){
		#member-list{
			margin-top:70px;
			margin-bottom:50px;
		}
		#member-list .panel-body{
			padding:30px 0px 20px 0;
		}
		#member-list .form-control, #modal-info  .form-control{
			margin-bottom: 10px;
		}
		#member-list .form-group .card{
			width: 100%;
		}
		.breadcrumb {
			padding: 0;
		}
	}

/* -------------------------------- 

Single Item

-------------------------------- */
.cd-single-item {
	position: relative;
	margin-bottom:30px;
	display: block;
	background-color: #ffffff;
	border-radius: 0px;
}

.cd-single-item img:hover {
	transition: .2s ease-in-out;
	opacity: 0.6;
}

li[disabled]{
	cursor: not-allowed;
	filter: alpha(opacity=65);
	-webkit-box-shadow: none;
	box-shadow: none;
	opacity: .65;
}
.no-touch .cd-single-item:hover .cd-customization, .cd-single-item.hover .cd-customization {
	/* product customization visible */
	pointer-events: auto;
	visibility: visible;
	opacity: 1;
	-webkit-transition: opacity 0.2s 0s, visiblity 0s 0s;
	-moz-transition: opacity 0.2s 0s, visiblity 0s 0s;
	transition: opacity 0.2s 0s, visiblity 0s 0s;
}
.no-touch .cd-single-item:hover .cd-customization-trigger, .cd-single-item.hover .cd-customization-trigger {
	/* this is the settings icon - visible on touch devices only */
	display: none;
}

/* -------------------------------- 

Product Customization

-------------------------------- */
.cd-customization {
	position: absolute;
	z-index: 2;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	padding:10px 5px;
	visibility: hidden;
	opacity: 0;
	background-color: rgba(255, 255, 255, 1);
	pointer-events: none;
	-webkit-transition: opacity 0.2s 0s, visibility 0s 0.2s;
	-moz-transition: opacity 0.2s 0s, visibility 0s 0.2s;
	transition: opacity 0.2s 0s, visibility 0s 0.2s;
}
.cd-customization-title{
	margin-top: 100px;
	width: 100%;
	text-align:center;
}
.cd-customization::after {
	clear: both;
	content: "";
	display: table;
}
.cd-customization > * {
	float: left;
}
.cd-customization .color, .cd-customization .size, .cd-customization .add-to-cart {
	height: 36px;
	border-radius: 3px;
	position: relative;
	overflow: hidden;
}
.cd-customization .color, .cd-customization .size {
	/* these are the color and size options */
	display: inline-block;
	cursor: pointer;
	color:#689493;
	box-shadow: inset 0 0 0 1px #94c1bd;
	/* Force Hardware Acceleration - fix a bug on Safari */
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.cd-customization .color:hover, .cd-customization .size:hover {
	color:#fff;
	background-color:#94c1bd;
	box-shadow: inset 0 0 0 2px #94c1bd;
}
.cd-customization .color ul, .cd-customization .size ul {
	display: inline-block;
	position: absolute;
	left: 50%;
	top: 50%;
	bottom: auto;
	right: auto;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	width: 100%;
	border-radius: 3px;
	border: 1px solid transparent;
	padding-left:0;
	list-style:none;
}
.cd-customization .color li, .cd-customization .size li {
	position: relative;
	height: 36px;
}
.cd-customization .color ul li:first-of-type, .cd-customization .size ul li:first-of-type {
	/* arrange list items according to the selected color/size option */
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
	-ms-transform: translateY(100%);
	-o-transform: translateY(100%);
	transform: translateY(100%);
	border-radius: 0;
}
.cd-customization .color ul li:nth-of-type(2), .cd-customization .size ul li:nth-of-type(2) {
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	-o-transform: translateY(-100%);
	transform: translateY(-100%);
	border-radius: 3px 3px 0 0;
}
.cd-customization .color ul li:nth-of-type(3), .cd-customization .size ul li:nth-of-type(3) {
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	transform: translateY(0);
	border-radius: 0 0 3px 3px;
}
.cd-customization .color.selected-2 ul li:first-of-type, .cd-customization .color.selected-2 ul li:nth-of-type(2), .cd-customization .color.selected-2 ul li:nth-of-type(3), .cd-customization .size.selected-2 ul li:first-of-type, .cd-customization .size.selected-2 ul li:nth-of-type(2), .cd-customization .size.selected-2 ul li:nth-of-type(3) {
	/* second option selected in the ul.color/ul.size list*/
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	transform: translateY(0);
}
.cd-customization .color.selected-2 ul li:first-of-type, .cd-customization .size.selected-2 ul li:first-of-type {
	border-radius: 3px 3px 0 0;
}
.cd-customization .color.selected-2 ul li:nth-of-type(2), .cd-customization .size.selected-2 ul li:nth-of-type(2) {
	border-radius: 0;
}
.cd-customization .color.selected-3 ul li:first-of-type, .cd-customization .size.selected-3 ul li:first-of-type {
	/* third option selected in the ul.color/ul.size list */
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	transform: translateY(0);
	border-radius: 3px 3px 0 0;
}
.cd-customization .color.selected-3 ul li:nth-of-type(2), .cd-customization .size.selected-3 ul li:nth-of-type(2) {
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
	-ms-transform: translateY(100%);
	-o-transform: translateY(100%);
	transform: translateY(100%);
	border-radius: 0 0 3px 3px;
}
.cd-customization .color.selected-3 ul li:nth-of-type(3), .cd-customization .size.selected-3 ul li:nth-of-type(3) {
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	-o-transform: translateY(-100%);
	transform: translateY(-100%);
	border-radius: 0;
}
.cd-customization .color.is-open, .cd-customization .size.is-open {
	/* color/size list open - make ul element visible */
	overflow: visible;
	box-shadow: none;
}
.cd-customization .color.is-open::after, .cd-customization .size.is-open::after {
	/* remove the arrow icon for the size option element */
	display: none;
}
.cd-customization .color.is-open ul, .cd-customization .size.is-open ul {
	color:#7f96a1;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
	border-color: #e5e5e5;
	background-color: #ffffff;
}
.cd-customization .color.is-open li:hover, .cd-customization .color.is-open li.active, .cd-customization .size.is-open li:hover, .cd-customization .size.is-open li.active {
	color:#fff;
	background-color: #94c1bd;
}
.cd-customization .color {
	width: 34px;
}
.cd-customization .color li {
	/* replace color name with colored circle */
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	color: transparent;
}
.cd-customization .color li::before {
	/* this is the colored circle */
	content: '';
	position: absolute;
	left: 50%;
	top: 50%;
	bottom: auto;
	right: auto;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	height: 10px;
	width: 10px;
	border-radius: 50%;
}
.cd-customization .color li.color-1::before {
	background-color: #314d5d;
}
.cd-customization .color li.color-2::before {
	background-color: #de5b48;
}
.cd-customization .color li.color-3::before {
	background-color: #f0ca4d;
}
.cd-customization .size {
	margin: 0 6px;
}
.cd-customization .size::after {
	/* arrow icon for the size option element */
	content: '';
	position: absolute;
	right: 5px;
	top: 50%;
	margin-top: -8px;
	display: block;
	width: 16px;
	height: 16px;
	background: url("../../images/cd-icon-arrow.svg") no-repeat center center;
	pointer-events: none;
}
.cd-customization .size li {
	padding: 0 10px;
}
.cd-customization .size, .cd-customization .add-to-cart {
	width: calc(50% - 10px);
}
.cd-customization .size li, .cd-customization .add-to-cart {
	font-size: 13px;
	/*font-weight: 600;*/
	text-transform: uppercase;
	line-height: 36px;
}

.cd-customization .size small{
	font-size:10px;
}
.cd-customization .add-to-cart {
	color: #ffffff;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.no-touch .cd-customization .add-to-cart:hover {
	/*background-color: #7f96a1;*/
}
.cd-customization .add-to-cart em {
	/* this is the button text message */
	font-style:normal;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/* Force Hardware Acceleration */
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
}
.cd-customization .add-to-cart svg {
	/* this is the check icon */
	position: absolute;
	left: 50%;
	top: 50%;
	width: 100%;
	/* move the icon on the right - outside the button */
	-webkit-transform: translateX(50%) translateY(-50%);
	-moz-transform: translateX(50%) translateY(-50%);
	-ms-transform: translateX(50%) translateY(-50%);
	-o-transform: translateX(50%) translateY(-50%);
	transform: translateX(50%) translateY(-50%);
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
}
.cd-customization .add-to-cart.is-added em {
	/* product added to the cart - hide text message on the left with no transition*/
	color: transparent;
	-webkit-transform: translateX(-100%);
	-moz-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	-o-transform: translateX(-100%);
	transform: translateX(-100%);
	-webkit-transition: -webkit-transform 0s;
	-moz-transition: -moz-transform 0s;
	transition: transform 0s;
}
.cd-customization .add-to-cart.is-added svg {
	/* product added to the cart - move the svg back inside the button */
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	-webkit-transition: -webkit-transform 0s;
	-moz-transition: -moz-transform 0s;
	transition: transform 0s;
}


#size{
	width:50%;
	height: 36px;
	margin:0 5px;
	font-size:13px;
	line-height:1.6;
	color:#4d9891;
	border:1px solid #94c1bd;
}


/*
#sizestyle{
	margin:0 5px;
}

#sizestyle .btn{
	font-size:13px;
	color:#4d9891;
	height:36px;
	border:1px solid #94c1bd;
	background-color:#fff;
}
#sizestyle .btn:hover{
	color:#fff;
	background-color:#4d9891;
	}*/
/* -------------------------------- 

Settings icon - touch devices only

-------------------------------- */
.cd-customization-trigger {
	position: absolute;
	z-index: 2;
	right: 0px;
	bottom: 0px;
	height: 40px;
	width: 40px;
	/* replace text with an icon */
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	color: transparent;
	background: url(../../images/cd-icon-settings.svg) no-repeat center center;
	display: none;
	border:0;
}
.touch .cd-customization-trigger {
	display: block;
}

/*pagination 分頁*/
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
	color: #4d9891;
	font-weight: bold;
	/*text-decoration:underline;*/
	background-color: #fff;
}

.pagination>li>a, .pagination>li>span {
	color: #94c1bd;
	/*background-color: #fff;*/
	border: 0px solid #ddd;
}

.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
	color: #4d9891;
	background-color: #fff;
}

/*圖檔水平垂直置中*/

#brand .brand-logo{
	background: none;
	background-color: #fff;
	border-radius: 6px;
}

.brand-logo-title{
	border-bottom:0px solid #eee;
	margin-bottom: 20px;
}

.brand-logo-title:before {
	content: "";
	width: 3px;
	height: 13px;
	border-radius: 4px;
	background-color: #ef8200;
	display: inline-block;
	margin-right: 8px;
}

.brand-logo-img{
	border: 1px solid #eee;
	border-radius: 6px;
	margin-bottom: 30px;
}

.bg-style{
	background: url(../../images/bg.jpg) repeat;
	background-color: #e5eaee;
}

.brand-logo-img .bg-4d9891{
	border-top-left-radius:6px;
	border-bottom-left-radius:6px;
}

.brand-logo{
	height:200px;
	text-align:center;
	margin:0;
	/*background: url(../../images/bg.jpg) repeat;
	background-color: #e5eaee;*/
}
.blog-img{
	height:239px;
	text-align:center;
	margin:0;
}
.cd-single-item .cd-single-item-img{
	height:280px;
	text-align:center;
}
.blog-img:before,
.brand-logo:before,
.cd-single-item-img:before {
	content:'';
	width:0;
	height:100%;
	display:inline-block;
	position:relative;
	vertical-align:middle;
}

.blog-img img,.brand-logo img {
	max-height: 100%;
	height: auto;
	display: inline-block;
	vertical-align: middle;
}
.cd-single-item-img img {
	max-height: 100%;
	width: auto;
	height: auto;
	display: inline-block;
	vertical-align: middle;
}

@media (min-width: 768px){
	.brand-logo img {
		width:150px;

	}
	#owl-brand .brand-logo img {
		width:180px;
	}
	.cd-single-item-img img {
		max-width: 220px;
	}
	.left{
		position: absolute;
		top:95px;
		left:5px;
		color: #454545;
	}
	.right{
		position: absolute;
		top:95px;
		right:5px;
		color: #454545;
	}
	#brand .flexslider .slides img{
		display:inline-block!important;
		padding: 20px;
	}
}

@media (min-width: 992px){
	.brand-logo img {
		width:200px;

	}
	.cd-single-item-img img {
		max-width: 180px;
	}
	#brand .flexslider .slides img{
		display:inline-block!important;
		padding: 0px;
	}
}
@media screen and (max-width:767px){
	.cd-single-item-img img { max-width: 250px;}
	#brand .brand-logo{ height:100px; margin-bottom: 20px;}
	#brand .brand-logo img{ width:auto;}
	.brand-logo{ height:150px; margin-top:20px; margin-bottom: 20px;}
	.brand-logo img { width:200px;}
	.blog-img{
		height:auto;
	}
	.left{
		position: absolute;
		top:110px;
		left:5px;
		color: #454545;
	}
	.right{
		position: absolute;
		top:110px;
		right:5px;
		color: #454545;
	}
}

@media screen and (max-width:480px){
	/*.brand-logo:before,	.cd-single-item-img:before {display:initial;}*/
	.footer-link li { padding-right: 2px; padding-left: 0px; }
	.footer-link li + li:before { font-size: 12px; padding-right: 0.5em;}
	#brand .flexslider .slides img{
		display:inline-block!important;
		padding: 20px;
	}
}

@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape){
	.blog-img{
		height:195px;
	}
}
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait){
	.blog-img{
		height:145px;
	}
}