/* Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote::before, blockquote::after, q::before, q::after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	-webkit-text-size-adjust: none;
}

/* Box Model */
*, *::before, *::after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/*Layout*/
body {
	position: relative;
	margin: 0;
	padding-top: 60px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #1c1c1c;
}
section{
	padding: 4em 0 2em 0;
}
section .inner {
    max-width: 65em;
    width: calc(100% - 6em);
    margin: 0 auto;
}
section .inner h2{
	text-align: center;
}
footer{
	color: #fff;
	font-size: 0.6em;
	line-height: 1.6em;
	text-align: center;
	background-color: #178CCB;
    padding: 1em 3em;
}
a, a:link{
	color: #1C1C1C;
	-moz-transition: color 0.2s ease-in-out;
	-webkit-transition: color 0.2s ease-in-out;
	-ms-transition: color 0.2s ease-in-out;
	transition: color 0.2s ease-in-out;
	text-decoration: none;
}
button{
	outline:none;
}

hidden{
	display: none;
}
show{
	display: block;
}

@media screen and (max-width: 480px) {
	section{
		padding: 2em 0 0.1em 0;
	}
	section .inner {
		max-width: 90%;
		width: 90%;
	}
	footer{
		padding: 1em;
	}
}
/*Font*/
p {
	margin: 0 0 2em 0;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
	line-height: 1.5;
	margin: 0 0 1em 0;
	text-transform: uppercase;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	color: inherit;
	text-decoration: none;
}

h1 {
	font-size: 2em;
	margin: 0 0 0.25em 0;
}

h2 {
	font-size: 1.75em;
}

h3 {
	font-size: 1.35em;
}

h4 {
	font-size: 1.1em;
}

h5 {
	font-size: 0.9em;
}

h6 {
	font-size: 0.7em;
}

@media screen and (max-width: 480px) {

	h1 {
		font-size: 1.5em;
	}

	h2 {
		font-size: 1.25em;
	}

	h3 {
		font-size: 1.1em;
	}

}

/*Header*/
header{
	background: #178CCB;
	color: #fff;
	cursor: default;
	height: 60px;
	left: 0;
	line-height: 5em;
	position: fixed;
	text-align: right;
	top: 0;
	width: 100%;
	z-index: 10001;
}
.logo{
	display: inline-block;
	position: absolute;
	top: 0;
	left: 1em;
	height: inherit;
	margin: 0;
	padding: 0;
	color: #fff;
	font-size: 1.75em;
	text-transform: none;
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 60px;
}
a.logo:link{
	color: #fff!important;
}
.topnav {
	display: inline-block;
	padding-right: 1em;
}
.topnav a {
	float: left;
	display: block;
	text-align: center;
	padding: 0px 16px;
	color: #fff;
	text-decoration: none;
	font-size: 1em;
	line-height: 60px;
	background-color:transparent;
}
.topnav a:hover {
	color: #052049;	
}
.navPanelToggle, .close {
	display: none;
	position: fixed;
    text-decoration: none;
    width: 50px;
    height: 50px;
    right: 0;
    top: 5px;
    background-color: transparent;
    border: 0;
    font-size: 1em;
    color: #fff;
}

.close.show{
	display: block;
}

.fb, .line{
	display: inline-flex;
	align-items: center;
	margin-top: 16px;
	width: 26px;
	height: 26px;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}
.fb{
	background-image: url('../../assets/images/facebook_d.svg');
}
.line{
	background-image: url('../../assets/images/line_d.svg');
}
.fb img, .line img{
	width: 26px;
	height: 26px;
	opacity: 1;
	transition: 0.5s ease;
	-moz-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
	-ms-transition: 0.5s ease;
}
.fb:hover img, .line:hover img{
	opacity: 0;
	transition: 0.5s ease;
	-moz-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
	-ms-transition: 0.5s ease;
}
.fb span, .line span{
	display: none;
	padding-left: 10px;
}

@media screen and (max-width: 980px) {
	.topnav{
		padding-right: 0
	}
	.topnav a{
		display: none;
	}
	.topnav a:hover {
		color: black;
		text-decoration: none;
		background-color: #A2D1EA;
	}
	.navPanelToggle {
		float: right;
		display: block;
	}
	.topnav.responsive {
		position: relative;
    	width: 100%;
    	height: 100vh;
    	padding-top: 60px;
    	background-color: #178CCB;
    	z-index: 10002;
	}
	.topnav.responsive a {
		float: none;
		display: block;
		text-align: left;
		font-size: 1.2em;
	}

	.fb span, .line span{
		display: block;
	}
}

@media screen and (max-width: 480px) {
	.logo{
		left: 15px
	}
}
/* Banner */

#banner {
	position: relative;
	padding: 20em 0 18em 0;
	background-color: #178CCB;
	background-image: url("../../assets/images/banner.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top right;
	text-align: left;
	z-index: 9999;
}


#banner::after {
	-moz-transition: opacity 4s ease;
	-webkit-transition: opacity 4s ease;
	-ms-transition: opacity 4s ease;
	transition: opacity 4s ease;
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	display: block;
	top: 0;
	left: 0;
	background-color: #1C1C1C;
	opacity: 0.25;
}

#banner .inner {
	max-width: 65em;
	width: calc(100% - 6em);
	margin: 0 auto;
	position: relative;
	z-index: 10000;
	line-height: 1.5;
}

@media screen and (max-width: 480px) {
	#banner .inner {
		max-width: 90%;
		width: 90%;
	}
}

#banner h1 {
	color: #fff;
	font-size: 2em;
	margin: 0 0 0.5em 0;
	padding: 0;
	letter-spacing: 3px;
	font-weight: 700;
	width: 50%;
}
#banner p{
	color: #fff;
	width: 65%;
}

@media screen and (max-width: 1680px) {
	#banner {
		padding: 16em 0 14em 0;
	}
}

@media screen and (max-width: 1280px) {
	#banner {
		padding: 12em 0 10em 0;
	}
}

@media screen and (max-width: 980px) {
	#banner {
		padding: 12em 0 10em 0;
	}
	#banner h1 {
		width: 60%
	}
	#banner p{
		width: 70%;
	}
}

@media screen and (max-width: 736px) {
	#banner {
		padding: 8em 0 6em 0;
	}
	#banner h1 {
		font-size: 1.75em;
		width: 55%
	}
	#banner p{
		width: 70%;
	}
}

@media screen and (max-width: 480px) {
	#banner {
		padding: 5em 0 3em 0;
		background-position: top left;
	}
	#banner h1, #banner p{
		width: 100%;
	}
}

/*News*/
.card-news{
	display: flex;
	align-items: center;
	border-bottom: 1px solid #f3f3f3;
	padding: 20px;
	transform: scale(1);
	transition: 0.5s ease;
	-moz-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
	-ms-transition: 0.5s ease;
}
.card-news:hover{
	transform: scale(1.05);
	transition: 0.5s ease;
	-moz-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
	-ms-transition: 0.5s ease;
	background-color: #fbfbfb;
	border-radius: 6px;
	cursor: pointer;
}
.news-date{
	width: 20%;
	padding-right: 20px;
}
.news-source{
	display: flex;
	align-items: center;
	width: 20%;
}
.news-info{
	line-height: 1.6em;
	width: 60%;
}
.media::before, .awarded::before, .memorabilia::before{
	content: "";
	background-size: cover;
	width: 40px;
	height: 40px;
	margin-right: 5px;
}
.media::before{
	background-image: url('../../assets/images/media.svg');
}
.awarded::before{
	background-image: url('../../assets/images/awarded.svg');
}
.memorabilia::before{
	background-image: url('../../assets/images/memorabilia.svg');
}
.card-end{
	border-bottom: 0;
	margin-bottom: 2em;
}

@media screen and (max-width: 480px) {
	.card-news{
		flex-wrap: wrap;
	}
	.news-date{
		width: 40%;
		margin-bottom: 0.5em;
	}
	.news-source{
		width: 60%;
		margin-bottom: 0.5em;
	}
	.news-info{
		width: 100%;
		font-size: 1.2em;
	}
	.media::before, .awarded::before, .memorabilia::before{
		width: 26px;
		height: 26px;
	}
}
/*Member*/
#member{
	background-color: #fbfbfb;
}
.owl-carousel{
	position: relative;
}
.owl-nav{
	display: none;
	position: absolute;
	width: 100%;
	top: 40%;
}
.owl-prev{
	position: absolute;
	left: -10px;
	font-size: 2em;
	color: #909090;
}
.owl-next{
	position: absolute;
	right: -10px;
	font-size: 2em;
	color: #909090;
}
.owl-carousel .item{
	text-align: center;
}
.owl-carousel .item:hover{
	cursor: pointer;
}
.owl-carousel .item figure{
	margin-bottom: 20px;
}
.owl-carousel .item figure img{
	opacity: 0.8;
	filter: grayscale(100%);
	border-radius: 50%;
	margin-bottom: 20px;
	transition: 0.5s ease;
	-moz-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
	-ms-transition: 0.5s ease;
}
.owl-carousel .item figure img:hover{
	opacity: 1;
	filter: grayscale(0%);
	transition: 0.5s ease;
	-moz-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
	-ms-transition: 0.5s ease;
}
.owl-carousel .item .item-body h3{
	margin-bottom: 0.5em;
}
.owl-carousel .item .item-body p{
	color: #909090;
}
@media screen and (max-width: 480px) {
	.owl-nav{
		display: block;
	}
	.owl-carousel .item figure{
		margin:50px 50px 20px 50px;
	}
	.owl-carousel .item figure img{
		opacity: 1;
		filter: grayscale(0%);
	}
	.owl-carousel .item .item-body h3{
		font-size: 1.2em;
		font-weight: 700;
	}
}

/* Memorabilia */

#memorabilia{
	background-color: #E8F4FA;"
}

/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline {
  white-space: nowrap;
  overflow-x: hidden;
}

.timeline ol {
  font-size: 0;
  width: 100vw;
  padding: 180px 0 200px 0;
  transition: all 1s;
  cursor: pointer;
}

.timeline ol li {
  position: relative;
  display: inline-block;
  list-style-type: none;
  width: 160px;
  height: 3px;
  background: #fff;
}

.timeline ol li:last-child {
  width: 280px;
}

.timeline ol li:not(:first-child) {
  margin-left: 14px;
}

.timeline ol li:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 50%;
  left: calc(100% + 1px);
  bottom: 0;
  width: 12px;
  height: 12px;
  transform: translateY(-50%);
  border-radius: 50%;
  background: #178CCB;
}

.timeline ol li div {
  color: #909090!important;
  position: absolute;
  left: calc(100% + 7px);
  width: 280px;
  padding: 15px;
  color: #1C1C1C;
  font-size: 1rem;
  line-height: 1.5em;
  white-space: normal;
  background: white;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.timeline ol li div::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ol li:nth-child(odd) div {
  top: -16px;
  transform: translateY(-100%);
}

.timeline ol li:nth-child(odd) div::before {
  top: 100%;
  border-width: 8px 8px 0 0;
  border-color: white transparent transparent transparent;
}

.timeline ol li:nth-child(even) div {
  top: calc(100% + 16px);
}

.timeline ol li:nth-child(even) div::before {
  top: -8px;
  border-width: 8px 0 0 8px;
  border-color: transparent transparent transparent white;
}

.timeline time {
  display: block;
  color: #052049;
  font-size: 1.35rem;
  font-weight: bold;
  margin-bottom: 8px;
}

.timeline strong{
  display: block;
  color: #1c1c1c;
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 8px;
}

/* TIMELINE ARROWS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline .arrows {
  display: none;
  justify-content: center;
  margin-bottom: 20px;
}

.timeline .arrows .arrow__prev {
  margin-right: 20px;
}

.timeline .disabled {
  opacity: .5;
}

.timeline .arrows img {
  width: 45px;
  height: 45px;
}


/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (max-width: 599px) {
  .timeline ol,
  .timeline ol li {
    width: auto; 
  }
  
  .timeline ol {
    padding: 0;
    transform: none !important;
  }
  
  .timeline ol li {
    display: block;
    height: auto;
    background: transparent;
  }
  
  .timeline ol li:first-child {
    margin-top: 25px;
  }
  
  .timeline ol li:not(:first-child) {
    margin-left: auto;
  }
  
  .timeline ol li div {
    width: 94%;
    height: auto !important;
    margin: 0 auto 25px;
  }
  
  .timeline ol li div {
    position: static;
  }
  
  .timeline ol li:nth-child(odd) div {
    transform: none;
  }
  
  .timeline ol li:nth-child(odd) div::before,
  .timeline ol li:nth-child(even) div::before {
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    border: none;
    border-left: 2px solid white;
    height: 25px;
  }
  
  .timeline ol li:last-child,
  .timeline ol li:nth-last-child(2) div::before,
  .timeline ol li:not(:last-child)::after,
  .timeline .arrows {
    display: none;
  }
}
