/* Side Menu */
#header{
    width: 100%;
    left: 0;
    margin-left: 0px;
    background-color:#000;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    z-index:999;
}

#header.active{
    left: 0px;
    margin-left: 225px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

#header.navbar{
    min-height: 50px;
}

.navbar-brand{
    float:none;
    height: 0;
    padding:0;
}

.navbar-brand img{
    float:left;
    width:90px;
    height: 26px;
    margin-top: 12px;
    margin-left: 6px;
}

.navbar-brand h1{
    font-size:25px;
    font-weight:bold;
    float:left;
    margin-top: 20px;
    margin-left: 15px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 225px;
    height: 100%;
    margin:0 0 0 -225px;
    overflow-y: auto;
    background: #e5006e;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

#sidebar-wrapper.active {
    width: 225px;
    margin-left: 0px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

#menu-toggle {
    color:#999;
    float: left;
    top: 0;
    left: 0;
    margin: 0;
    z-index: 999;
    padding: 10px 10px 10px 15px;
    transform:scale(1);
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

a#menu-toggle:hover{
    color:#fff;
    transform:scale(1.3);
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

#menu-close{
    color:#999;
    display:none;
    position: fixed;
    margin-left: 226px;
    margin-top: 0px;
    padding: 10px 15px;
    z-index: 1000;
    background-color: black;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

a#menu-close:hover{
    color:#fff;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

#menu-close.show,.overlay.show{
    display:block;
}

.navbar-right {
    margin-right: 15px;
}

.my-project .dropdown-menu{
    width:300px;
    padding:0px;
}
.my-project .fui-list-small-thumbnails{
    font-size:21px;
}
.project-sub {
    color: #fff;
    background-color: #e5006e;
    padding: 10px 15px;
    margin: 0px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.project-list{
    padding: 10px;
    max-height: 380px;
    overflow-x: hidden;
    overflow-y: auto;
}
.project-item{
    width: 33.33%;
    float: left;
    padding: 10px;
}
.project-item img{
    margin-bottom: 5px;
    border-radius:4px;
}
.project-item a p{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}
.project-item a:hover{
    color:#e5006d;
    text-decoration:none;
}
.my-account .fui-user{
    font-size:21px;
}
.my-account .project-sub {
    margin: -5px 0px 0px 0px;
}
.my-account .dropdown-menu{
    padding-bottom: 0;
}
.my-account .dropdown-menu .media img{
    width:50px;
    border-radius:4px;
}
.my-account .dropdown-menu .media p{
    margin-bottom: 3px;
}
.my-account .project-footer > a {
    color:#777;
    padding: 10px;
    border-bottom-left-radius:4px;
    border-bottom-right-radius:4px;
}
.my-account .project-footer > a:hover {
    color:#e5006e;
}

#gotop .fa-arrow-up{
    font-size:21px;
}

/* Top Navigation */

.top-nav {
    padding: 0 15px;
}

.top-nav>li {
    display: inline-block;
    float: left;
}

.top-nav>li>a {
    color: #999;
    padding-top: 13px;
    padding-bottom: 0px;    
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: #fff;
    background-color: transparent;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.top-nav>.open>.dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 10px;
    border: 1px solid rgba(0,0,0,.15);
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.top-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
}

ul.message-dropdown {
    padding: 0;
}

li.message-preview {
    width: 275px;
    border-bottom: 1px solid rgba(0,0,0,.15);
}

li.message-preview>a {
    padding-top: 15px;
    padding-bottom: 15px;
}

li.message-footer {
    margin: 5px 0;
}

ul.alert-dropdown {
    width: 200px;
}

/* Side Navigation */

.side-nav {
    position: fixed;
    top: 0px;
    left: 225px;
    width: 225px;
    margin-left: -225px;
    border: none;
    border-radius: 0;
    overflow-y: auto;
    background-color: #222;
    bottom: 0;
    overflow-x: hidden;
    padding-bottom: 40px;
}
.side-nav>li
{

}
.side-nav>li>a {
    font-size:15px;
    color:#fff!important;
    width: 225px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.side-nav li a:hover,
.side-nav li a:focus {
    outline: none;
    background-color: #000 !important;
    border-bottom: 1px solid rgba(229, 0, 110, 0.3);
}

.side-nav>li>ul {
    /*background-color:#ed8699;*/
    padding: 0;
}

.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    font-size:15px;
    color: #fff;
    line-height: 20px;
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.side-nav>li>ul>li>a:hover {
    color: #fff;
    background-color:;
}

.dropup .dropdown-menu{
    bottom:auto;
}

#sidebar-wrapper > .active{
    background-color:#000;
    cursor: default;
}

.decimal{
    color:#5d5d5d;
    font-size: 15px;
    list-style-type:decimal;
    margin-top: 15px;
    padding-left: 15px;
}

#loading{
    color: #fff;
    text-align:center;
    top:50%;
    margin-top: -50px;
}
#loading p{
    font-size: 15px;
}

/*手機*/

@media (max-width: 767px) {
    section{
        padding:70px 0px 70px 0px;
    }
    footer {
        display:none;
    }
    #header.navbar {
        min-height: 50px;
    }
    .navbar-brand img {
        width: 80px;
        height: 50px;
        padding-top: 0;
    }
    .navbar-brand h1{
        font-size:19px;
        font-weight:bold;
        float:left;
        margin-top: 15px;
        margin-left: 10px;
    }
    #menu-toggle, #menu-close{
        margin-top: 0;
    }
    #mobile-nav{
        display: block;
        width: 100%;
        max-height: 50px;
        position: fixed;
        bottom: 0;   
        background-color: #000;
    }
    #mobile-nav .dropdown{
        width:33.33%;
        text-align:center;
    }
    #mobile-nav.navbar-right{
        margin: 0;
    }
    li.message-preview {
        width: auto;
    }
    .dropup .dropdown-menu{
        position: fixed!important;
        float: none!important;
        width: 100vw;
        bottom: 47px;    
        box-shadow: 0px 0px 12px rgba(0,0,0,.3)!important;
        border: 0!important;
        border-radius: 0!important;
    }
    .top-nav>li>a {
        padding-top: 15px;
        padding-bottom:15px;
    }
    .dropdown-backdrop{
        display:none;
    }    

    #login{
        position: relative;
        padding-top:60px;
        padding-left: 15px;
        padding-right: 15px;
        top: 0%;
        left: 0%;
        transform: translate(0, 0);
        -ms-transform: translate(0, 0);
    }
    #login .thumbnail{
        padding: 20px;
        margin-bottom: 10px;
    }
    .login-icon{
        margin-top: -60px;
    }
    .login-footer{
        display:none;
    }
    .project-h1{
        margin:0 0 20px 0!important;
    }
}