body {
	font-size:14px;
	line-height: 1.5;
	color: #6a6a6a;	
	background: #f1f0f0;
	font-family:"Roboto", "PingFang TC", Arial, "Microsoft JhengHei", sans-serif;
}

h1 { font-size: 1.8em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.3em; }
h4 { font-size: 1.2em; }
h5, h6 { font-size: 1.1em; }
h1, h2, h3, h4, h5, h6{
	line-height: 1.5;
	margin: 0 0 10px 0;	
	color: #231815;
}

p {
	font-size:1.1em;
	line-height: 1.5;
	margin: 0 0 15px 0;
}

img {max-width: 100%;}

a{	
	color: #221815;
	text-decoration: none;
	outline: none;
	-o-transition: all .4s;
	-ms-transition: all .4s;
	-moz-transition: all .4s;
	-webkit-transition: all .4s;
	transition: all .4s;
	outline:none!important;
}

a:hover {
	color: #e5006e;
	text-decoration: none;
}

a:visited, a:active{
	text-decoration: none;
}
.input {
	outline:none;
}
.btn{border-radius: 50px;}
.btn-link, .btn-link:link,.btn-link:visited {
	font-size:14px;
	color:#009fe8;
	text-decoration: none;	
}

.btn-link:hover {
	color:#e5006e;
	text-decoration: none;
}
.btn-o {
	border: 1px solid #ccc;
	color: #231815;
}
.btn-o:hover {
	border: 1px solid #231815;
	background: #231815;
	color: white;
}
.btn-o-white, .btn-o-white:focus {
	border: 1px solid white;
	background: transparent;
	color: white;
}
.btn-o-white:hover {
	background:#e5006e;
	border: 1px solid #e5006e;
	color: #fff;
}

.btn-e5006e {
	border: 1px solid #e5006e;
	background: transparent;
	color: #e5006e;
}
.btn-e5006e:hover {
	border: 1px solid #e5006e;
	background: #e5006e;
	color: white;
}

/*////////////////////////////////////////////////////////////////////////
//  NAV
///////////////////////////////////////////////////////////////////////*/
.navbar-default{
	background-color: #2E3037;
	height:60px;
	-webkit-transition: all .6s;
	-moz-transition: all .6s;
	transition:all .6s;
	border: 0;
	border-radius:0;
	margin-bottom: 0;
	z-index:2;
}

/*.navbar-default.navbar-shrink {
	background-color:#2E3037;
	height:60px;
	-webkit-transition: all .6s;
	-moz-transition: all .6s;
	transition: all .6s;
}*/

.navbar-nav li a {
	color: #fff!important;
	font-size: 13px;
	padding: 3px 20px;
	border-radius: 50px;
	border: 1px solid #fff; 
	background-color: transparent;
	margin: 15px 5px;
	z-index: 2;
}
.navbar-nav li a:hover{
	border: 1px solid #e5006e!important; 
	background-color:#e5006e!important;
	opacity: 1;
	-webkit-transition: all .6s;
	-moz-transition: all .6s;
	transition:all .6s;
}

/*.navbar-default.navbar-shrink .navbar-nav>li>a {
	margin:15px 5px;
}*/

.navbar-brand{
	padding: 16px 0 0px 15px;
	-webkit-transition: all .6s;
	-moz-transition: all .6s;
	transition: all .6s;
}
/*.navbar-default.navbar-shrink .navbar-brand{
	padding: 16px 0 0px 15px;
	-webkit-transition: all .6s;
	-moz-transition: all .6s;
	transition: all .6s;
}*/

.logo{
	width:180px;
	height:auto;
}
.navbar-default .navbar-toggle{
	border:0;
}

.navbar-right{
	margin-right: 0;
}

/*////////////////////////////////////////////////////////////////////////
//  Parallax styles
///////////////////////////////////////////////////////////////////////*/
#wrapper{
	padding: 0px;
}

.content-block{
	background:transparent no-repeat center center fixed;
	-webkit-background-size:100%;
	-moz-background-size:100%;
	-o-background-size:100%;
	background-size:100%;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	overflow:hidden;
	padding: 100px 0;
}

#parallax {
	padding: 150px 0;
	background-image: url(../images/blue_mac2.jpg);
}
#parallax h1{
	color: white;
}
#parallax p{
	color: white;
	margin-bottom: 50px;
}
#parallax .btn{
	line-height: 40px;
	padding: 20px 50px;
	margin-bottom: 20px;
}
.parallax-icon{
	width: 40px;
	margin-right: 10px;
}

/*////////////////////////////////////////////////////////////////////////
//  Blog
///////////////////////////////////////////////////////////////////////*/

#blog h1 {
	font-size:2em;
	text-align: center;
}
#blog p{
	text-align: center;
	margin-bottom: 50px;
}
#blog .blog-post{
	display:block;
	padding:0 10px;
	opacity:0;
}
#blog .blog-post figure{
	text-align: center;
	margin-bottom: 30px!important;
}
#blog .blog-post h2{
	text-align: center;
}
#blog .blog-post p {
	text-align: center;
	line-height: 1.5;
	margin: 0;
}
.fadeInRight{
	opacity:1;
}

/*////////////////////////////////////////////////////////////////////////
//  Footer
///////////////////////////////////////////////////////////////////////*/


footer{
	font-size:14px;
	letter-spacing: 1px;
	background-color:#2E3037!important;
	color:rgba(255, 255, 255, 0.6);
	padding: 50px 15px!important;
}
footer .list-inline li{
	padding-right: 0px;
}

footer .list-inline li a{
	font-weight:normal;
	color:rgba(255, 255, 255, 0.6);
	text-decoration:none;
}
footer .list-inline li a:hover{
	color:#fff;
	text-decoration:none;
}

footer .list-inline li + li:before{
	content:'/';
	padding-right: 5px;
}

.copyright{
	font-size:14px;
	margin-bottom: 0;
}
#share{
	display:block;
}
.icon-link{
	position: fixed;
	right: 20px;
	bottom: 20px;
	margin: 0;
	padding-left: 0;
}
.icon-link li{
	list-style:none;
	margin-bottom: 10px;
}
.icon-link li a{
	display:table;
	width: 50px;
	height: 50px;
	line-height: 25px;
	border-radius: 50%;
	color: white;
	text-align: center;
	cursor: pointer;
	background: #e5006e;
}
.icon-link li a:hover{
	background: #6fba2c;
}
.icon-link li a:focus{
	text-decoration:none;
}
.icon-link li a small{
	display:block;
	font-size: 12px;
	line-height:0;
	text-decoration:none;
	font-family:"Roboto", "PingFang TC", Arial, "Microsoft JhengHei", sans-serif;
}
.fa-skype{
	font-size: 22px;
	padding-top: 7px;
}
.fa-qq{
	font-size: 18px;
	padding-top: 8px;
}
.fa-angle-up{
	font-size: 26px;
	padding-top: 2px;
}

/*////////////////////////////////////////////////////////////////////////
//  owl-carousel
///////////////////////////////////////////////////////////////////////*/
#owl-slider{
	margin-top: 0px;
}

.owl-carousel .item{
	width: 100%;
	height: 0;
	padding-bottom: 28.64%;
	background-size:cover;
	background-position: center center;
	opacity:1;
}
.owl-carousel .item h1 {
	display:none;
	color: #fff;
	font-size: 3em;
	letter-spacing:2px;
	text-align: center;
	font-weight: bold;
	padding-top: 12%;
}
.slider01{ background-image:url(../images/slider01.jpg);}
.slider02{ background-image:url(../images/slider02.jpg);}
.slider03{ background-image:url(../images/slider03.jpg);}
.slider04{ background-image:url(../images/slider04.jpg);}
.slider05{ background-image:url(../images/slider05.jpg);}

.owl-theme .owl-controls{
	z-index:1;
	margin-top: -29px!important;
}

/*////////////////////////////////////////////////////////////////////////
//  Responsive styles
///////////////////////////////////////////////////////////////////////*/


@media screen and (max-width: 767px){
	.navbar-brand{
		padding: 15px;
	}

	.navbar-default{
		height: 50px;
	}
	.navbar-default .navbar-collapse{
		border:0;
		background-color: #2e3037!important;
	}
	.navbar-default .navbar-toggle{
		padding: 11px 5px 0 0;
	}
	.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
		background-color: #2E3037;
	}
	.navbar-default .navbar-toggle .icon-bar {
		background-color: #fff;
	}
	.logo{
		width: 150px;
		height:auto;
	}

	.navbar-nav {
		margin: 0;
	}
	.navbar-nav li a{
		text-align: center;
		padding: 10px 20px;		
	}
	#owl-slider{
		margin-top:0px;
	}
	#owl-slider .item{
		width:100%;
		height: 0;
		padding-bottom: 111.11%;
		background-size:cover;
		background-repeat: no-repeat;
	}
	.owl-carousel .item h1 {
		font-size: 2em;
		padding-top: 50%;
	}
	.slider01{ background-image:url(../images/slider01_m.jpg); }
	.slider02{ background-image:url(../images/slider02_m.jpg); }
	.slider03{ background-image:url(../images/slider03_m.jpg); }
	.slider04{ background-image:url(../images/slider04_m.jpg); }	
	.slider05{ background-image:url(../images/slider05_m.jpg); }

	#parallax{
		padding: 70px 0;
	}
	.content-block{
		padding: 50px 0;
	}
	#blog .blog-post {
		display: block;
		margin-bottom: 40px;
	}
	#blog .blog-post figure {
		margin-bottom: 30px!important;
		float: left;
		width: 120px;
	}
	#blog .blog-post figure img{
		width: 80px;
	}
	#blog .blog-post h2, #blog .blog-post p {
		text-align: left;
		margin-bottom: 0;
	}
	footer {
		font-size: 12px;
		letter-spacing: 0px;
		padding: 50px 15px 100px 15px!important;
	}
	.copyright{
		font-size: 12px;
		letter-spacing: 0px;
	}
	.icon-link{
		width: 100%;
		text-align: center;
		right: 0px;
		bottom: 10px;
	}
	.icon-link li{
		display:inline-block;
		margin-bottom: 0;
		padding: 0 10px;
	}
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
	
}