*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a:link, a:hover{
  text-decoration: none;
}

img{
  max-width: 100%;
  height: auto;
}
.img-thumbnail{
  padding: 0;
}

.btn{
  min-width: 100px;
  padding: 0.5rem 1rem;
}


/*form*/
input.form-control::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #BBB;
  font-weight: normal;
}
input.form-control:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #BBB;
  font-weight: normal;
}
input.form-control::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #BBB;
  font-weight: normal;
}
input.form-control::-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #BBB;
  font-weight: normal;
}
.form-group textarea{
  border-radius: 10px;
}
.col-form-label{
  color: #6c757d;
  line-height: 1.6;
}
.form-control-lg, .custom-select-lg{
  font-size: 1.1rem;
}

/* header */
#mainNav {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: rgb(0, 30, 47, 0.8);
  /*背景模糊*/
  -webkit-backdrop-filter: blur(5px);	
  backdrop-filter: blur(5px);	
}
#mainNav .navbar-toggler {
  padding: 0.75rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 0.75rem;
  color: #fff;
  text-transform: uppercase;
  background-color: #2AB5CD;
  border: 0;
  outline:none;
}
#mainNav .navbar-brand {
  color: #fff;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  letter-spacing: 0.0625em;
  text-transform: uppercase;
}
#mainNav .navbar-brand img {
  height: 2rem;
}
#mainNav .navbar-nav .nav-item .nav-link {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 0.95rem;
  color: #fff;
  letter-spacing: 0.0625em;
}
#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #2AB5CD;
}

#mainNav .navbar-toggler, .form-control, .btn, .custom-select {
  border-radius: 50px;
}
.searchbar .row  .input-group .input-group-prepend .custom-select{
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.searchbar .row  .input-group .custom-select{
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    border: none;
    background-color: transparent;
    /*背景模糊*/
    -webkit-backdrop-filter: blur(0px); 
    backdrop-filter: blur(0px); 
    transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
  }
  #mainNav .navbar-brand {
    font-size: 1.5em;
    transition: font-size 0.3s ease-in-out;
  }
  #mainNav .navbar-brand img {
    height: 2.7rem;
    transition: height 0.3s ease-in-out;
  }
  #mainNav.navbar-shrink {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    background-color: rgb(0, 30, 47, 0.8);
    /*背景模糊*/
    -webkit-backdrop-filter: blur(5px); 
    backdrop-filter: blur(5px); 
  }
  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.25em;
  }
  #mainNav.navbar-shrink .navbar-brand svg, #mainNav.navbar-shrink .navbar-brand img {
    height: 2rem;
  }
  #mainNav .navbar-nav .nav-item {
    margin-right: 1rem;
  }
  #mainNav .navbar-nav .nav-item:last-child {
    margin-right: 0;
  }
}
header.masthead {
  position: relative;
  padding-top: 7.5rem;
  padding-bottom: 3rem;
  text-align: center;
  color: #fff;
  background-image: url("../assets/img/header-bg.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}

header.masthead.header-sm{
  padding-top: 7.5rem;
  padding-bottom: 2.5rem;
}

@media (min-width: 768px) {
  header.masthead {
    padding-top: 13rem;
    padding-bottom: 10.5rem;
  }
}

header.masthead .overlay {
    position: absolute;
    background-color: #001e2f;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: .6;
}

@media (min-width: 1600px) {
  header.masthead {
    padding-top: 18rem;
    padding-bottom: 15rem;
  }
}

.no-select{
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
  color: #BBB;
  background: #fff;
}
.input-group-prepend .custom-select{
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; 
}

.head-default::before{
  content: "\f4b3";
  font-family: "bootstrap-icons";
  float: left;
  margin-right: 5px;
  margin-top: -4px;
  font-size: 21px;
}
.head-fb::before{
  content: "\f324";
  font-family: "bootstrap-icons";
  float: left;
  margin-right: 5px;
  margin-top: -4px;
  font-size: 20px;
}
.head-google::before{
  content: "\f3d0";
  font-family: "bootstrap-icons";
  float: left;
  margin-right: 5px;
  margin-top: -2px;
  font-size: 18px;
}
.dropdown-menu{
  padding: 0;
}
.dropdown-menu a:first-child{
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
.dropdown-menu a:last-child{
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
.dropdown-item{
  padding: 0.8rem 1.5rem;
}
a.dropdown-item:hover{
  background-color: #E8F4F1;
}
@media (max-width: 991px) {
  .navbar-nav::before{
    content: '';
    width: 100%;
    border-top: 1px solid rgb(255, 255, 255, 20%);
    position: fixed;
    top: 60px;
    left: 0;
    right: 0;
  }
  .navbar-nav{
    padding-top: 20px;
  }
}
.btn.btn-google, .btn.btn-fb{
  height: 56px;
}
.btn .bi.bi-google::after, .btn .bi.bi-facebook::after{
  content: '';
  display: inline-block;
  width: 1px;
  height: 15px;
  background-color: rgb(255 255 255 / 60%);
  margin: 0 10px;
}
.modal.fade.show{
  background-color: rgb(0, 30, 47, 0.8);
  -webkit-backdrop-filter: blur(5px); 
  backdrop-filter: blur(5px); 
}
a.modal-search:link{
  color: #fff;
  font-size: 0.95rem;
  text-decoration: none;
}
a.modal-search:hover{
  color:#2AB5CD;
}
.modal-search .bi-search{
  font-size: 1.2rem;
}
.modal-search::before{
  content: "";
  display: block;
  float: left;
  margin-top: 5px;
  margin-right: 25px;
  margin-left: 15px;
  width: 1px;
  height: 20px;
  background-color: rgb(255, 255, 255, 30%);
}
@media (max-width: 991px) {
  .modal-search{
    flex: auto;
  }
}
@media (max-width: 767px) {
  .modal-search span{
    display: none;
  }
}

/*footer*/
footer{
  width: 100%;
  color: #ccc;
  line-height: 1; 
  font-weight: normal;
  text-align: center;
  padding: 0.7rem 0 0.5rem 0;
}
footer .container{
  border-top: 1px solid #efefef;
  padding:1.5rem 0.5rem 1rem 0.5rem;
}
footer .container .list-inline .list-inline-item::after{
  content: '|';
  color: #dcdcdc;
  padding-left: 20px;
  padding-right: 5px;
}
footer .container .list-inline .list-inline-item:last-child::after{
  display: none;
}
footer .container .list-inline .list-inline-item a{
  font-size: 0.9rem;
  font-weight: normal;
  color:#b5b5b5;
}
footer .container .list-inline .list-inline-item a:hover{
  color: #2AB5CD;
}

/*search*/
#division1, #area1{
  width: 105px;
  background-color: #E8F4F1;
}
#button-keyword{
  width: 70px;
  min-width: auto;
  opacity: 1;
}
.bi-search{
  font-weight: bold;
  font-size: 22px;
}
.spinner-border{
  color: rgb(256, 256, 256, 0.6);
  font-size: 15px;
  width: 20px;
  height: 20px; 
}
.searchbar .row .input-group-lg .custom-select, .searchbar .row .input-group .form-control {
  border: 1px solid #efefef;
  
}
.searchbar .row .input-group-lg, .searchbar .row .input-group-lg .custom-select, .searchbar .row .input-group .form-control{
  height: 56px;
}
@media (max-width: 767px) {
  .searchbar .row .input-group-lg, .searchbar .row .input-group-lg .custom-select, .searchbar .row .input-group .form-control{
    height: 50px;
  }
}

/*card*/
.card{
  border: 1px solid #efefef;
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
  transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  cursor: pointer;
}

.card:hover{
  transform: scale(1.02);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.card-detail{
  border: 1px solid #efefef;
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
}
.no-hover, .no-hover:hover{
  transform: scale(1);
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
  cursor: default;
}

.mb-card{
  margin-bottom: 2rem;
}

.card-header{
  height: 80px;
  padding-top: 1.5rem;
  margin-bottom: 30px;
  border-bottom: 1px solid #efefef;
}
.card-header-img{
  position: relative;
}
.card-header-img img{
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.position-head{
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: block;
  width: 90px;
  height: 90px;
  text-align: center;
  vertical-align: middle;
  padding: 0.25rem;
  background-color: #fff;
  border: 1px solid #efefef;
  border-radius: 50px;
}
.position-head img{
  border-radius: 50px;
  max-width: 100%;
  height: auto; 
}
.position-badge{
  position: absolute;
  top: -6px;
  right: 0px;
}
.badge-area{
  margin-right: -4px;
  font-weight: normal;
  border-radius: 0;
  border-bottom-left-radius:0.25rem;
  background-color: #00A483;
}
.badge-division{
  font-weight: normal;
  border-radius: 0;
  border-top-right-radius:0.25rem;
  background-color: #20c997;
}

.card .card-body .card-text, .card .card-footer ul{
  padding-left: 0;
}
.card .card-body .card-text li{
  list-style-type: none;
  position: relative;
  padding: 0 0 0.5em 1.8em;
}
.card-footer{
  border-top: 1px solid #efefef;
  padding: 0.3rem 1.25rem;
}
.card .card-footer ul li{
  list-style-type: none;
  position: relative;
  padding: 0;
}
.hospital::before{
  content: "\f404";
  font-family: "bootstrap-icons";
  position: absolute;
  left: 0;
  margin-top: 1px;
  font-size: 1rem;
  color: #949494;
}
.name::before{
  content: "\f4ac";
  font-family: "bootstrap-icons";
  position: absolute;
  left: 0;
  margin-top: 1px;
  font-size: 1rem;
  color: #949494;
}
.phone::before{
  content: "\f584";
  font-family: "bootstrap-icons";
  position: absolute;
  left: 0;
  margin-top: 2px;
  font-size: 0.9rem;
  color: #949494;
}
.recommend::before{
  content: "\f55b";
  font-family: "bootstrap-icons";
  position: absolute;
  left: 0;
  margin-top: 1px;
  font-size: 1.1rem;
  color: #949494
}
.adress::before{
  content: "\f3c7";
  font-family: "bootstrap-icons";
  position: absolute;
  left: 0;
  margin-top: 1px;
  font-size: 1.1rem;
  color: #949494
}

.card-text .hospital p, .card-text .name p, .card-text .phone p, .card-text .recommend p, .adress p{
  margin-bottom: 0;
  display: inline-flex;
}
.card-text .hospital p::before, .card-text .name p::before, .card-text .phone p::before, .card-text .recommend p::before, .hospital p::before, .name p::before, .phone p::before, .recommend p::before, .adress p::before{
  content: "";
  margin-right: 10px;
  margin-top: 5px;
  display: inline-block;
  width: 1px;
  height: 15px;
  background-color:#dfdfdf;
}
.card-text .recommend p::before{
  margin-top: 7px;
}

.recommend p a{
  padding-left: 10px;
  padding-top: 5px;
}

.favorite{
  float: right;
}

.favorite::before{
  content: "收藏";
  color: #b5b5b5;
  font-size: 0.6rem;
}
.bi-star-fill{
  font-size: 1.1rem;
  color: #ccc;
  margin-right: 3px;
}
.bi-star-fill.select{
  color: #fd7e14;
}

@media (max-width: 767px) {
  .card .card-header .position-badge .badge{
    font-size: 0.9rem;
  }
  .card-text .hospital p, .card-text .name p, .card-text .phone p{
    font-size: 1.1rem;
  }
  .recommend::before, .favorite::before{
    font-size: 1rem;
  }
  footer .container .list-inline .list-inline-item a{
    font-size: 1rem;
  }
}

/* alert */

.alert-secondary{
  background-color: rgba(0, 0, 0, 0.03);
  border-radius: calc(0.25rem - 1px);
  border: 1px solid #efefef;
}
.alert-light{
  border: 1px solid #efefef;
}

/* breadcrumb */

.breadcrumb{
  background-color: transparent;
  font-size: 0.9rem;
  padding: 0.5rem 0;
}

.breadcrumb li:first-child::before{
  content: "\f404";
  font-family: "bootstrap-icons";
  float: left;
  margin-right: 5px;
  margin-top: 1px;
  font-size: 0.9rem;
  color: #015B8C;
}

/* add favorite */
.fav-btn {
  display: block;
  float: right;
  margin-top: 1px;
  text-align: end;
}

@keyframes favme-anime {
  0% {
    opacity: 1;
    font-size: 1rem;
  }
  25% {
    opacity: 0.6;
    color: #CD422A;
    font-size: 0.8rem;
  }
  75% {
    opacity: 0.6;
    color: #CD422A;
    font-size: 1.1rem;
  }
  100% {
    opacity: 1;
    font-size: 1rem;
  }
}
@keyframes favme-hover {
  from {
    font-size: 1.1rem;
  }
  80% {
    font-size: 1rem;
  }
}
.favme {
  display: block;
  font-size: 1rem;
  width: 22px;
  height: 22px;
  cursor: pointer;
  box-shadow: none;
  transition: all 0.2s ease;
  color: #ccc;
  margin: 0;
}
.favme.active {
  color: #CD422A;
}
.favme:hover {
  animation: favme-hover 0.3s infinite alternate;
}
.favme.is_animating {
  animation: favme-anime 0.3s;
}
@media (max-width: 767px) {
  .fav-btn{
    margin-top: -6px;
  }
  .favme{
    font-size: 1.5rem;
    width: 30px;
    height: 30px;
  }

}
/*pagination*/
.page-item{
  margin: 0 2px;
}
.page-link{
  color: #6c757d;
  border: 0;
  padding: 0.5rem 0.9rem;
}
.page-item:first-child .page-link, .page-item:last-child .page-link{
  border: 0;
  padding: 0.5rem 0.7rem;
}
.page-item.active .page-link, .page-link:hover, .page-item:first-child .page-link, .page-item:last-child .page-link{
  border-radius: 50px;
}
.page-item.active .page-link{
  color: rgb(255, 255, 255, 0.6);
  background-color: #2AB5CD;
}
.page-item.disabled .page-link{
  color: #b5b5b5;
}
/*go Top*/
.btn-top {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  display: none;
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50px;
  line-height: 2.6rem;
  text-align: center;
  font-size: 1.8rem;
  color: #fff;
  cursor: pointer;
  background-color: rgb(0, 30, 47, 0.6);
  /*背景模糊*/
  -webkit-backdrop-filter: blur(5px); 
  backdrop-filter: blur(5px); 
}

/*page-member*/
.member-info{
  padding: 1rem 1.5rem 1.3rem 1.5rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-radius: calc(0.25rem - 1px);
  border: 1px solid #efefef;
}
.member-info .list-inline{
  margin: 0;
}
.member-info .list-inline .list-inline-item{
  margin: 0;
  font-size: 1.1rem;
  color: #001E2F;
}
.member-info li:first-child::after{
  content: "|";
  margin: 0 20px;
  color: #dadada;
}
.member-info li:first-child .bi{
  font-size: 2rem;
  margin-right: 5px;
}
.member-info li:last-child .bi{
  font-size: 1.8rem;
  margin-right: 8px;
}
.alert.QA{
  font-size: 1.2rem;
}
@media (max-width: 767px) {
  .member-info li:first-child::after{
    display: none;
  }
  .member-info .list-inline .list-inline-item{
    display: block;
  }

}

/*page-detail*/
.img-comment{
  padding-right: 10px;
}
.img-comment img{
  width: 60px;
  border-radius: 50px;
  border: 1px solid #efefef;
}

/*radio check*/
.btn_choose_sent input {
  -webkit-appearance: none;
  display: block;
  margin: 10px;
  width: 18px;
  height: 18px;
  border: 1px solid #E7FDFF;
  border-radius: 12px;
  cursor: pointer;
  vertical-align: middle;
  /*box-shadow: hsla(0,0%,100%,.15) 0 1px 1px, inset hsla(0,0%,0%,.5) 0 0 0 1px;*/
  /*background-color: hsla(0,0%,0%,.2);*/
  background-image: -webkit-radial-gradient( #015B8C 0%, #015B8C 15%, #015B8C 28%, #015B8C 70% );
  background-repeat: no-repeat;
  -webkit-transition: background-position .15s cubic-bezier(.8, 0, 1, 1), -webkit-transform .25s cubic-bezier(.8, 0, 1, 1);
  outline: none;
}
.btn_choose_sent input:checked {
  -webkit-transition: background-position .2s .15s cubic-bezier(0, 0, .2, 1), -webkit-transform .25s cubic-bezier(0, 0, .2, 1);
}
.btn_choose_sent input:active {
  -webkit-transform: scale(1.5);
  -webkit-transition: -webkit-transform .1s cubic-bezier(0, 0, .2, 1);
}
.btn_choose_sent input, .btn_choose_sent input:active {
  background-position: 0 24px;
}
.btn_choose_sent input:checked {
  background-position: 0 0;
}
.btn_choose_sent input:checked ~ input, .btn_choose_sent input:checked ~ input:active {
  background-position: 0 -24px;
}
.btn_choose_sent{
    background: #2AB5CD;
    color: #fff;
    box-shadow: none;
    border: none; 
    border-radius: 3px;
    font-size: 16px;
    line-height: 10px;
    padding:  16px 20px 16px 38px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    margin-right: 20px;
    transition: all .3s;
    height: auto;
    cursor: pointer;
    position: relative;
    outline: none;
    margin-bottom: 15px;
}

.btn_choose_sent input{
    position: absolute;
    left: 0;
    right: 0;
    z-index: 99;
    top: 2px;
}

.btn_choose_sent input:after{
   position: absolute;
    content: '';
    width: 15rem;
    left: 0;
    right: 0;
    /* background: red; */
    /* z-index: -1; */
    height: 40px;
    top: -10px;
}