BODY {margin: 0px; background:url(images/bg_01.jpg); background-repeat:repeat-x; background-color:#FFF;}

.news {  font-size:12px}
.news A:link{
	color:#990000; text-decoration: underline}
.news A:visited{
	color:#660066; text-decoration: underline}
.news A:hover{
	color:#FF9900; text-decoration: none}

.menu {
}
.menu A:link{
text-decoration: none; color: #000099
}
.menu A:visited{
text-decoration: none; color: #990099
}
.menu A:hover{
text-decoration: underline; color: #FF6600
}

.top {
	font-size:12px
}
.top A:link{
	color:#003399
; text-decoration: underline}
.top A:visited{
	color:#660000
; text-decoration: underline
}
.top A:hover{
	color:#FF0000
; text-decoration: none
}

.content-2 {
	font-size:12px
}
.content-2 A:link{
	color:#666666
}
.content-2 A:visited{
	color:#636363
}
.content-2 A:hover{
	color:red
}.big {  font-size: 15px}

.div {
	font-size: 12px;
}

.DailyGoodsIntro {
	color: #807f6c;
	font-size: 13px;
	line-height: 16px;}
	
.DailyGoodsName {
	color:#ea68a2;
	font-size: 15px;}
	
.DailyOnsaleTitle {
	font-size: 13px;
	font-weight: bolder;
	color: #990000;
}
.DailyOnsale {
	font-size: 13px;
	font-weight: bolder;
	color: #FF0000;
}
.lef {
	font-size: 12px;
	line-height: 20px;

}
td {
	font-size: 12px;
}
a {
	font-size: 12px;
}

.ShowProdIntro{
 background:#ffffcc !important;
 border:1px solid black !important;
 padding:4px !important;
 font-family:verdana !important;
 font-size:12px !important;
 filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#e9ffb6, EndColorStr=#ffffff) !important;
 vertical-align:middle !important;
}

.LS{
font-size:12px !important;
color: #FF00FF !important;
}

