body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1147px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u115 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:276px;
}
#u116 {
  position:absolute;
  left:23px;
  top:777px;
  width:550px;
  height:276px;
}
#u117 {
  position:absolute;
  left:2px;
  top:130px;
  width:546px;
  visibility:hidden;
  word-wrap:break-word;
}
#u118_div {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:277px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u118 {
  position:absolute;
  left:23px;
  top:776px;
  width:550px;
  height:277px;
}
#u119 {
  position:absolute;
  left:2px;
  top:130px;
  width:546px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:276px;
}
#u121 {
  position:absolute;
  left:597px;
  top:162px;
  width:550px;
  height:276px;
}
#u122 {
  position:absolute;
  left:2px;
  top:130px;
  width:546px;
  visibility:hidden;
  word-wrap:break-word;
}
#u123_div {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:277px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u123 {
  position:absolute;
  left:597px;
  top:162px;
  width:550px;
  height:277px;
}
#u124 {
  position:absolute;
  left:2px;
  top:130px;
  width:546px;
  visibility:hidden;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:277px;
}
#u126 {
  position:absolute;
  left:23px;
  top:162px;
  width:550px;
  height:277px;
}
#u127 {
  position:absolute;
  left:2px;
  top:130px;
  width:546px;
  visibility:hidden;
  word-wrap:break-word;
}
#u128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:277px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u128 {
  position:absolute;
  left:23px;
  top:162px;
  width:550px;
  height:277px;
}
#u129 {
  position:absolute;
  left:2px;
  top:130px;
  width:546px;
  visibility:hidden;
  word-wrap:break-word;
}
#u130 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:276px;
}
#u131 {
  position:absolute;
  left:23px;
  top:469px;
  width:550px;
  height:276px;
}
#u132 {
  position:absolute;
  left:2px;
  top:130px;
  width:546px;
  visibility:hidden;
  word-wrap:break-word;
}
#u133_div {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:277px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u133 {
  position:absolute;
  left:23px;
  top:469px;
  width:550px;
  height:277px;
}
#u134 {
  position:absolute;
  left:2px;
  top:130px;
  width:546px;
  visibility:hidden;
  word-wrap:break-word;
}
#u135 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:276px;
}
#u136 {
  position:absolute;
  left:597px;
  top:469px;
  width:550px;
  height:276px;
}
#u137 {
  position:absolute;
  left:2px;
  top:130px;
  width:546px;
  visibility:hidden;
  word-wrap:break-word;
}
#u138_div {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:277px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u138 {
  position:absolute;
  left:597px;
  top:469px;
  width:550px;
  height:277px;
}
#u139 {
  position:absolute;
  left:2px;
  top:130px;
  width:546px;
  visibility:hidden;
  word-wrap:break-word;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:123px;
}
#u140 {
  position:absolute;
  left:23px;
  top:29px;
  width:255px;
  height:123px;
  font-family:'微軟正黑體 Bold', '微軟正黑體';
  font-style:normal;
  color:#666666;
  text-align:left;
  line-height:28px;
}
#u141 {
  position:absolute;
  left:10px;
  top:0px;
  width:245px;
  word-wrap:break-word;
}
