body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1024px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1269 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1270_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:850px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.6);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1270 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:850px;
}
#u1270_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1271 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1272_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:340px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:0px 0px 10px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 10px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 10px rgba(0, 0, 0, 0.349019607843137);
}
#u1272 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:255px;
  width:520px;
  height:340px;
}
#u1272_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1273 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:303px;
  width:484px;
  height:190px;
}
#u1274_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:40px;
}
#u1274 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u1274_text {
  border-width:0px;
  position:absolute;
  left:5px;
  top:12px;
  width:29px;
  word-wrap:break-word;
}
#u1275_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:40px;
}
#u1275 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:0px;
  width:65px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u1275_text {
  border-width:0px;
  position:absolute;
  left:5px;
  top:12px;
  width:55px;
  word-wrap:break-word;
}
#u1276_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:40px;
}
#u1276 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:0px;
  width:60px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u1276_text {
  border-width:0px;
  position:absolute;
  left:5px;
  top:12px;
  width:50px;
  word-wrap:break-word;
}
#u1277_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:40px;
}
#u1277 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:0px;
  width:60px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u1277_text {
  border-width:0px;
  position:absolute;
  left:5px;
  top:12px;
  width:50px;
  word-wrap:break-word;
}
#u1278_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:40px;
}
#u1278 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:0px;
  width:260px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u1278_text {
  border-width:0px;
  position:absolute;
  left:5px;
  top:12px;
  width:250px;
  word-wrap:break-word;
}
#u1279_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:50px;
}
#u1279 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:39px;
  height:50px;
  font-size:12px;
  text-align:left;
}
#u1279_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1280_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:50px;
}
#u1280 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:40px;
  width:65px;
  height:50px;
  font-size:12px;
  text-align:left;
}
#u1280_text {
  border-width:0px;
  position:absolute;
  left:5px;
  top:18px;
  width:55px;
  word-wrap:break-word;
}
#u1281_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:50px;
}
#u1281 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:40px;
  width:60px;
  height:50px;
  font-size:12px;
  text-align:left;
}
#u1281_text {
  border-width:0px;
  position:absolute;
  left:5px;
  top:18px;
  width:50px;
  word-wrap:break-word;
}
#u1282_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:50px;
}
#u1282 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:40px;
  width:60px;
  height:50px;
  font-size:12px;
  text-align:left;
}
#u1282_text {
  border-width:0px;
  position:absolute;
  left:5px;
  top:18px;
  width:50px;
  word-wrap:break-word;
}
#u1283_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:50px;
}
#u1283 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:40px;
  width:260px;
  height:50px;
  font-size:12px;
  text-align:left;
}
#u1283_text {
  border-width:0px;
  position:absolute;
  left:5px;
  top:18px;
  width:250px;
  word-wrap:break-word;
}
#u1284_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:50px;
}
#u1284 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:39px;
  height:50px;
  font-size:12px;
  text-align:left;
}
#u1284_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1285_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:50px;
}
#u1285 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:90px;
  width:65px;
  height:50px;
  font-size:12px;
  text-align:left;
}
#u1285_text {
  border-width:0px;
  position:absolute;
  left:5px;
  top:18px;
  width:55px;
  word-wrap:break-word;
}
#u1286_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:50px;
}
#u1286 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:90px;
  width:60px;
  height:50px;
  font-size:12px;
  text-align:left;
}
#u1286_text {
  border-width:0px;
  position:absolute;
  left:5px;
  top:18px;
  width:50px;
  word-wrap:break-word;
}
#u1287_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:50px;
}
#u1287 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:90px;
  width:60px;
  height:50px;
  font-size:12px;
  text-align:left;
}
#u1287_text {
  border-width:0px;
  position:absolute;
  left:5px;
  top:18px;
  width:50px;
  word-wrap:break-word;
}
#u1288_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:50px;
}
#u1288 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:90px;
  width:260px;
  height:50px;
  font-size:12px;
  text-align:left;
}
#u1288_text {
  border-width:0px;
  position:absolute;
  left:5px;
  top:18px;
  width:250px;
  word-wrap:break-word;
}
#u1289_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:50px;
}
#u1289 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:140px;
  width:39px;
  height:50px;
  font-size:12px;
  text-align:left;
}
#u1289_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1290_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:50px;
}
#u1290 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:140px;
  width:65px;
  height:50px;
  font-size:12px;
  text-align:left;
}
#u1290_text {
  border-width:0px;
  position:absolute;
  left:5px;
  top:18px;
  width:55px;
  word-wrap:break-word;
}
#u1291_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:50px;
}
#u1291 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:140px;
  width:60px;
  height:50px;
  font-size:12px;
  text-align:left;
}
#u1291_text {
  border-width:0px;
  position:absolute;
  left:5px;
  top:18px;
  width:50px;
  word-wrap:break-word;
}
#u1292_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:50px;
}
#u1292 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:140px;
  width:60px;
  height:50px;
  font-size:12px;
  text-align:left;
}
#u1292_text {
  border-width:0px;
  position:absolute;
  left:5px;
  top:18px;
  width:50px;
  word-wrap:break-word;
}
#u1293_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:50px;
}
#u1293 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:140px;
  width:260px;
  height:50px;
  font-size:12px;
  text-align:left;
}
#u1293_text {
  border-width:0px;
  position:absolute;
  left:5px;
  top:18px;
  width:250px;
  word-wrap:break-word;
}
#u1294_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1294 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:503px;
  width:123px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1294_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  white-space:nowrap;
}
#u1295_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1295 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:272px;
  width:109px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1295_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u1296_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  height:2px;
}
#u1296 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:529px;
  width:484px;
  height:1px;
}
#u1296_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1297_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:35px;
}
#u1297 {
  border-width:0px;
  position:absolute;
  left:454px;
  top:544px;
  width:55px;
  height:35px;
  font-size:14px;
  color:#FFFFFF;
}
#u1297_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:51px;
  word-wrap:break-word;
}
#u1298_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:35px;
}
#u1298 {
  border-width:0px;
  position:absolute;
  left:516px;
  top:544px;
  width:55px;
  height:35px;
  font-size:14px;
  color:#FFFFFF;
}
#u1298_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:51px;
  word-wrap:break-word;
}
#u1299 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:260px;
  width:730px;
  height:190px;
}
#u1300_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
}
#u1300 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u1300_text {
  border-width:0px;
  position:absolute;
  left:5px;
  top:12px;
  width:40px;
  word-wrap:break-word;
}
#u1300_ann {
  border-width:0px;
  position:absolute;
  left:36px;
  top:0px;
  width:1px;
  height:1px;
}
#u1301_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:40px;
}
#u1301 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:0px;
  width:77px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u1301_text {
  border-width:0px;
  position:absolute;
  left:5px;
  top:12px;
  width:67px;
  word-wrap:break-word;
}
#u1301_ann {
  border-width:0px;
  position:absolute;
  left:113px;
  top:0px;
  width:1px;
  height:1px;
}
#u1302_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:40px;
}
#u1302 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:0px;
  width:65px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u1302_text {
  border-width:0px;
  position:absolute;
  left:5px;
  top:12px;
  width:55px;
  word-wrap:break-word;
}
#u1303_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:40px;
}
#u1303 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:0px;
  width:245px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u1303_text {
  border-width:0px;
  position:absolute;
  left:5px;
  top:12px;
  width:235px;
  word-wrap:break-word;
}
#u1303_ann {
  border-width:0px;
  position:absolute;
  left:423px;
  top:0px;
  width:1px;
  height:1px;
}
#u1304_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:40px;
}
#u1304 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:0px;
  width:293px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u1304_text {
  border-width:0px;
  position:absolute;
  left:5px;
  top:12px;
  width:283px;
  word-wrap:break-word;
}
#u1304_ann {
  border-width:0px;
  position:absolute;
  left:716px;
  top:0px;
  width:1px;
  height:1px;
}
#u1305_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u1305 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:50px;
  height:50px;
  font-size:12px;
  text-align:left;
}
#u1305_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1306_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:50px;
}
#u1306 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:40px;
  width:77px;
  height:50px;
  font-size:12px;
  text-align:left;
}
#u1306_text {
  border-width:0px;
  position:absolute;
  left:5px;
  top:18px;
  width:67px;
  word-wrap:break-word;
}
#u1307_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:50px;
}
#u1307 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:40px;
  width:65px;
  height:50px;
  font-size:12px;
  text-align:left;
}
#u1307_text {
  border-width:0px;
  position:absolute;
  left:5px;
  top:18px;
  width:55px;
  word-wrap:break-word;
}
#u1308_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:50px;
}
#u1308 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:40px;
  width:245px;
  height:50px;
  font-size:12px;
  text-align:left;
}
#u1308_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1309_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:50px;
}
#u1309 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:40px;
  width:293px;
  height:50px;
  font-size:12px;
  text-align:left;
}
#u1309_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1310_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u1310 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:50px;
  height:50px;
  font-size:12px;
  text-align:left;
}
#u1310_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1311_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:50px;
}
#u1311 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:90px;
  width:77px;
  height:50px;
  font-size:12px;
  text-align:left;
}
#u1311_text {
  border-width:0px;
  position:absolute;
  left:5px;
  top:18px;
  width:67px;
  word-wrap:break-word;
}
#u1312_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:50px;
}
#u1312 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:90px;
  width:65px;
  height:50px;
  font-size:12px;
  text-align:left;
}
#u1312_text {
  border-width:0px;
  position:absolute;
  left:5px;
  top:18px;
  width:55px;
  word-wrap:break-word;
}
#u1313_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:50px;
}
#u1313 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:90px;
  width:245px;
  height:50px;
  font-size:12px;
  text-align:left;
}
#u1313_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1314_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:50px;
}
#u1314 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:90px;
  width:293px;
  height:50px;
  font-size:12px;
  text-align:left;
}
#u1314_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1315_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u1315 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:140px;
  width:50px;
  height:50px;
  font-size:12px;
  text-align:left;
}
#u1315_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1316_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:50px;
}
#u1316 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:140px;
  width:77px;
  height:50px;
  font-size:12px;
  text-align:left;
}
#u1316_text {
  border-width:0px;
  position:absolute;
  left:5px;
  top:18px;
  width:67px;
  word-wrap:break-word;
}
#u1317_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:50px;
}
#u1317 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:140px;
  width:65px;
  height:50px;
  font-size:12px;
  text-align:left;
}
#u1317_text {
  border-width:0px;
  position:absolute;
  left:5px;
  top:18px;
  width:55px;
  word-wrap:break-word;
}
#u1318_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:50px;
}
#u1318 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:140px;
  width:245px;
  height:50px;
  font-size:12px;
  text-align:left;
}
#u1318_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1319_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:50px;
}
#u1319 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:140px;
  width:293px;
  height:50px;
  font-size:12px;
  text-align:left;
}
#u1319_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1321_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:50px;
  background:inherit;
  background-color:rgba(63, 67, 78, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u1321 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u1321_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1322_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1322 {
  border-width:0px;
  position:absolute;
  left:929px;
  top:9px;
  width:71px;
  height:29px;
}
#u1322_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1323_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#FFFFFF;
}
#u1323 {
  border-width:0px;
  position:absolute;
  left:942px;
  top:15px;
  width:45px;
  height:17px;
  font-size:15px;
  color:#FFFFFF;
}
#u1323_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u1324_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1324 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:13px;
  width:98px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1324_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  white-space:nowrap;
}
#u1326_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:1300px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u1326 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:170px;
  height:1300px;
  color:#CCCCCC;
}
#u1326_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1327 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1328_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#333333;
}
#u1328 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:73px;
  width:58px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#333333;
}
#u1328_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u1329 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1330_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#333333;
  line-height:30px;
}
#u1330 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:116px;
  width:78px;
  height:30px;
  color:#333333;
  line-height:30px;
}
#u1330_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u1331_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1331 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:60px;
  width:20px;
  height:20px;
}
#u1331_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1332 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1333_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#333333;
  line-height:30px;
}
#u1333 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:146px;
  width:104px;
  height:30px;
  color:#333333;
  line-height:30px;
}
#u1333_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  white-space:nowrap;
}
#u1334_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:61px;
  height:5px;
}
#u1334 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:97px;
  width:58px;
  height:2px;
}
#u1334_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1335_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:2px;
}
#u1335 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:145px;
  width:141px;
  height:1px;
}
#u1335_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1336_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:2px;
}
#u1336 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:176px;
  width:141px;
  height:1px;
}
#u1336_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1337_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:2px;
}
#u1337 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:206px;
  width:141px;
  height:1px;
}
#u1337_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1338 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1339_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#333333;
  line-height:30px;
}
#u1339 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:177px;
  width:53px;
  height:30px;
  color:#333333;
  line-height:30px;
}
#u1339_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u1340 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1341_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:21px;
}
#u1341 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:84px;
  width:85px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:21px;
}
#u1341_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1342_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1342 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:80px;
  width:30px;
  height:30px;
  font-size:11px;
}
#u1342_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1343 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1344_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:617px;
  height:2px;
}
#u1344 {
  border-width:0px;
  position:absolute;
  left:293px;
  top:162px;
  width:616px;
  height:1px;
}
#u1344_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1345_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1345 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:155px;
  width:15px;
  height:15px;
}
#u1345_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1346_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1346 {
  border-width:0px;
  position:absolute;
  left:486px;
  top:155px;
  width:15px;
  height:15px;
}
#u1346_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1347_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1347 {
  border-width:0px;
  position:absolute;
  left:690px;
  top:155px;
  width:15px;
  height:15px;
}
#u1347_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1348_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1348 {
  border-width:0px;
  position:absolute;
  left:895px;
  top:155px;
  width:15px;
  height:15px;
}
#u1348_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1349_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1349 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:176px;
  width:85px;
  height:16px;
}
#u1349_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1350_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1350 {
  border-width:0px;
  position:absolute;
  left:874px;
  top:176px;
  width:57px;
  height:16px;
}
#u1350_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1351_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u1351 {
  border-width:0px;
  position:absolute;
  left:691px;
  top:156px;
  width:13px;
  height:13px;
}
#u1351_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1352_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:35px;
}
#u1352 {
  border-width:0px;
  position:absolute;
  left:604px;
  top:468px;
  width:65px;
  height:35px;
  font-size:14px;
  color:#FFFFFF;
}
#u1352_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:61px;
  word-wrap:break-word;
}
#u1352_ann {
  border-width:0px;
  position:absolute;
  left:662px;
  top:464px;
  width:1px;
  height:1px;
}
#u1353_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:35px;
}
#u1353 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:468px;
  width:65px;
  height:35px;
  font-size:14px;
  color:#FFFFFF;
}
#u1353_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:61px;
  word-wrap:break-word;
}
#u1353_ann {
  border-width:0px;
  position:absolute;
  left:587px;
  top:464px;
  width:1px;
  height:1px;
}
#u1354 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:272px;
  width:77px;
  height:16px;
}
#u1354_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u1354_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1355 {
  border-width:0px;
  position:absolute;
  left:786px;
  top:272px;
  width:77px;
  height:16px;
}
#u1355_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u1355_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1356 {
  border-width:0px;
  position:absolute;
  left:428px;
  top:311px;
  width:87px;
  height:30px;
}
#u1356_input {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
}
#u1356_input:disabled {
  color:grayText;
}
#u1357 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1358 {
  border-width:0px;
  position:absolute;
  left:429px;
  top:361px;
  width:87px;
  height:30px;
}
#u1358_input {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
}
#u1358_input:disabled {
  color:grayText;
}
#u1359 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1360 {
  border-width:0px;
  position:absolute;
  left:526px;
  top:361px;
  width:83px;
  height:30px;
}
#u1360_input {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1361_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1361 {
  border-width:0px;
  position:absolute;
  left:619px;
  top:368px;
  width:33px;
  height:16px;
}
#u1361_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u1362 {
  border-width:0px;
  position:absolute;
  left:429px;
  top:410px;
  width:87px;
  height:30px;
}
#u1362_input {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
}
#u1362_input:disabled {
  color:grayText;
}
#u1363 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1364 {
  border-width:0px;
  position:absolute;
  left:526px;
  top:410px;
  width:83px;
  height:30px;
}
#u1364_input {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1365_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1365 {
  border-width:0px;
  position:absolute;
  left:619px;
  top:417px;
  width:33px;
  height:16px;
}
#u1365_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u1366 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1367 {
  border-width:0px;
  position:absolute;
  left:671px;
  top:311px;
  width:127px;
  height:30px;
}
#u1367_input {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1368 {
  border-width:0px;
  position:absolute;
  left:822px;
  top:311px;
  width:127px;
  height:30px;
}
#u1368_input {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1369_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1369 {
  border-width:0px;
  position:absolute;
  left:805px;
  top:319px;
  width:9px;
  height:16px;
}
#u1369_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u1370 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1371 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1372 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1373 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1374 {
  border-width:0px;
  position:absolute;
  left:671px;
  top:361px;
  width:127px;
  height:30px;
}
#u1374_input {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1375 {
  border-width:0px;
  position:absolute;
  left:822px;
  top:361px;
  width:127px;
  height:30px;
}
#u1375_input {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1376_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1376 {
  border-width:0px;
  position:absolute;
  left:805px;
  top:369px;
  width:9px;
  height:16px;
}
#u1376_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u1377 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1378 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1379 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1380 {
  border-width:0px;
  position:absolute;
  left:671px;
  top:410px;
  width:127px;
  height:30px;
}
#u1380_input {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1381 {
  border-width:0px;
  position:absolute;
  left:822px;
  top:410px;
  width:127px;
  height:30px;
}
#u1381_input {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1382_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1382 {
  border-width:0px;
  position:absolute;
  left:805px;
  top:418px;
  width:9px;
  height:16px;
}
#u1382_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u1383_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1383 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:230px;
  width:49px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1383_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1384_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1384 {
  border-width:0px;
  position:absolute;
  left:451px;
  top:176px;
  width:85px;
  height:16px;
}
#u1384_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1385_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#E5006E;
}
#u1385 {
  border-width:0px;
  position:absolute;
  left:655px;
  top:176px;
  width:85px;
  height:16px;
  color:#E5006E;
}
#u1385_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1386 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1387 {
  border-width:0px;
  position:absolute;
  left:525px;
  top:311px;
  width:83px;
  height:30px;
}
#u1387_input {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1388_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1388 {
  border-width:0px;
  position:absolute;
  left:618px;
  top:318px;
  width:33px;
  height:16px;
}
#u1388_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
