/* ---reset.css--- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* ---reset.css--- */
html{
    background-color: #231815;
}
body{
    font-size:16px;
    line-height:1.6;
    font-family:"Roboto", "PingFang TC", Arial, "Microsoft JhengHei", sans-serif;
    background-image: url(../images/bg.jpg);
}
a,a:link,a:visited{
    color:#333333;
    text-decoration: none;
    -webkit-transition:all .3s;
    transition:all .3s;
    outline:none;
}
a:hover{
    color:#a62126;
    text-decoration: none;
    -webkit-transition:all .3s;
    transition:all .3s;
    outline:none;
}

a:active{
    color:#a62126;
    text-decoration: none;
    outline:none;
}

a.phone:link{
    color:#a62126;
}

.navbar-default {
    padding: 10px 0 5px 0;
    border: 0;
    background-color:#231815;
    /*background-color:transparent;*/
    -webkit-transition: padding .6s;
    -moz-transition: padding .6s;
    transition: padding .6s;
}

.navbar-default.navbar-shrink {
    padding: 10px 0;
    background-color: #231815;
    -webkit-transition: all .6s;
    -moz-transition: all .6s;
    transition: all .6s;
}

.navbar-default .logo{
    display:block;
    width:110px;
    height:110px;
    position:absolute;
    left: 50%;
    margin-left: -55px!important;
    text-align:center;
    text-indent:-9999px;
    background-image:url(../images/logo.svg);
    background-position:center top;
    background-size:cover;
    background-repeat: no-repeat;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s;

}

.navbar-default.navbar-shrink .logo {
    width:60px;
    height:60px;
    margin-left: -30px!important;
}

.navbar-default .navbar-toggle {
    border:0px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #af9975;
}

.navbar-default .navbar-nav>li>a{
    font-size:15px;
    text-align:center;
    padding-bottom: 5px;
}

.my-navbar{
    margin-top:25px;
    -webkit-transition: all .6s;
    -moz-transition: all .6s;
    transition: all .6s;
}

.navbar-default.navbar-shrink .my-navbar{
    margin-top:0px;
    -webkit-transition: all .6s;
    -moz-transition: all .6s;
    transition: all .6s;
}

.close-navbar{
    display:none;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-indent: -9999px;
    background-image: url(../images/close.svg);
    background-size:cover;
    background-position:center center;
    position:absolute;
    top: 26px;
    right: 26px;
}

.close-navbar.open{
    display:block;
} 

.menu-en{
    display:block;
    font-size:12px;
}

.navbar-default .navbar-nav>li>a,.navbar-default .navbar-nav>li>a:visited,.navbar-default .navbar-nav>li>a:active{
    color: #af9975!important;
    font-weight:bold;
}

footer .list-inline li a{
    color: #af9975;
}

.navbar-default .navbar-nav>li>a:hover, footer .list-inline li a:hover{
    color: #f2eadd!important;
}
.navbar-default .navbar-nav>.open>a,.navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #f2eadd;
    background-color:transparent;
}

.navbar-nav>li>.dropdown-menu {
    margin-top: 0;
    border-radius: 5px;
    min-width: auto;
    padding: 0;
}
.dropdown-menu>li>a {
    display: block;
    color: #333;
    padding: 10px 20px;
    clear: both;    
    white-space: nowrap;
    border-bottom: 1px dotted rgba(0,0,0,.15);
}

.dropdown-menu>li:first-child a{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.dropdown-menu>li:last-child a{
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.dropdown-menu>li>a:hover{
    color: #fff;
    background-color:#a62126;
}

.btn-a62126{
    color: #fff!important;
    border-color: #a62126;
    background-color:#a62126;
}

.btn-a62126:hover{
    color: #fff!important;
    border-color: #77171b;
    background-color:#77171b;
}


section {
    padding: 0 0 70px 0;
}

.breadcrumb{
    font-size: 13px;
    margin-top: 5px;
    margin-bottom: 0px;
    padding-left: 10px;
    background-color:transparent;
}

.breadcrumb .active{
    color:#a62126;
}

.breadcrumb li:first-child{
    content:"";
    font-style: ;
}

header{
    position:relative;
    margin-top: 100px;
    margin-bottom: 70px;
    /*background-image:url("../images/bg_header.jpg");
    background-repeat:repeat;
    background-size:cover;
    background-position:center center;*/
}

#index .row{
    margin-left: 0;
    margin-right: 0;
}
.margin-bottom-30{
    margin-bottom: 30px;
}
.padding-bottom-10{
    padding-bottom: 10px;
}

.owl-carousel .item{
    width: 100%;
    height: 0;
    /*padding-bottom: 66.68%;*/
    padding-bottom: 52.5%;
    text-indent:-9999px;
    background-size:cover;
}

.slider01{ background-image:url(../images/slider01.jpg);}
.slider02{ background-image:url(../images/slider02.jpg);}
.slider03{ background-image:url(../images/slider03.jpg);}
.slider04{ background-image:url(../images/slider04.jpg);}
.slider05{ background-image:url(../images/slider05.jpg);}

.owl-theme .owl-controls{
    margin-top: -29px!important;
}

.topbanner{
    text-align:center;
    background-color:#231815;
}

.topbanner h1{
    position:absolute;
    font-size: 24px;
    color:#fff;
    font-weight:700;
    letter-spacing:10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    opacity:.8;
    z-index:1;
}

.topbanner-img{
    width: 100%;
    height: 0;
    padding-bottom: 18.75%;
    background-size:cover;
    text-indent:-9999px;
    opacity: .3;
}
.menu-recommend{
    background-image:url(../images/topbanner-recommend.jpg);
}
.menu{
    background-image:url(../images/topbanner-menu.jpg);
}
.menu-drink{
    background-image:url(../images/topbanner-drink.jpg);
}

.menu-droducts{
    background-image:url(../images/topbanner-droducts.jpg);
}

.news{
    background-image:url(../images/topbanner-news.jpg);
}
.brand{
    background-image:url(../images/topbanner-brand.jpg);
}

.store{
    background-image:url(../images/topbanner-store.jpg);
}

.about{
    background-image:url(../images/topbanner-about.jpg);
}

.tvcf{
    background-image:url(../images/topbanner-tvcf.jpg);
}
.faq{
    background-image:url(../images/topbanner-faq.jpg);
}
.contact{
    background-image:url(../images/topbanner-contact.jpg);
}
.join{
    background-image:url(../images/topbanner-join.jpg);
}

/*活動消息列表*/

figure img{
    vertical-align: middle;
}

.img-hover figure{
    position: relative;
    background-color: #231815;
}

.img-hover figure img {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .3s ease;
  backface-visibility: hidden;
}
.img-hover:hover img {
  opacity: .3;
}

.middle-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  transition: .3s ease;
  transform: translate(-50%, -80%);
  -ms-transform: translate(-50%, -80%);
}

.img-hover:hover .middle-icon {
  opacity: .8;
  transition: .3s ease;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.middle-icon h1 {
  color: white;
  font-size: 25px;
}

#intro .img-hover figure img {
  display: block;
  width: 100%;
  height: auto;
  opacity: .5;
  transition: .3s ease;
  backface-visibility: hidden;
  margin-bottom: 25px;
}
#intro .img-hover:hover img {
  opacity: .2;
}

.middle-logo {
  position: absolute;
  width: 140px;
  height: 140px;
  background-image:url(../images/intro-icon.svg);
  background-size:cover;
  background-position:center center;
  border-radius: 50%;
  /*border:double #fff;*/
  padding-top: 65px;
  top: 50%;
  left: 50%;
  text-align:center;
  opacity: .8;
  transition: .3s ease;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

#intro .img-hover:hover .middle-logo{
    opacity: 1;
}

.middle-logo h1 {
  color: white;
  font-size: 21px;
  line-height: 1;
}
.middle-logo p {
  color: white;
  font-size: 14px;
}

.page-header{
    font-size:21px;
    text-align:center;
    width: 200px;
    background-image:url(../images/coffee-beans.svg);
    background-position: 0 10px;
    background-repeat:no-repeat;
    margin: 0 auto;
    margin-bottom: 30px;
    border-bottom: 0px;
}

.page-header h1{
    font-size: 21px;
    font-weight:700;
    line-height: 1;
}

.page-header p{
    font-size:14px;
}

.page-footer{
    text-align: center;
    margin:20px 0 30px 0;
}

.thumbnail{
    border:0;
    background-color:transparent;
    padding: 0;
}

.caption{
    padding: 5px;
}
.date{
    font-size:12px;
    color:#777;
}
.name-en{
    font-size:12px;
    color:#777;
    margin-bottom:5px;
}
.caption h2{
    font-weight:700;
    margin:5px 0;
}

.price{
    color:#a62126;
    font-weight:700;
}

.original-price{
    font-size:13px;
    text-decoration:line-through;
}

.size-circle{
    position: relative;
    display: inline-block;
    color: #fff;
    font-size: 12px;
    line-height: 16px;
    width: 15px;
    height: 15px;
    text-align: center;
    background-color: #af936c;
    border-radius: 50%;
    margin: 0px 3px;
    top: -1px;
}

.label{
    padding: .3em .6em .3em;
}

.label-a62126{
    background-color:#a62126;
}

.form-group {
    margin-bottom: 15px!important;
}

.caption-style-product{
    padding: 20px 40px 20px 20px;
    border:1px dotted #858585;
    border-left:4px solid #a62126;
    transition: .3s ease;
}

.thumbnail.caption-style-product{
    border-left:4px solid #a62126;
    border-radius:0;
}

a.thumbnail .caption-style-product:hover{
    border: 1px solid #a62126;
    border-left:6px solid #a62126;
    transition: .3s ease;
}

#recommend{
    margin-top: 50px;
}

.recommend-style{
    padding: 20px;
    /*border:1px dotted #858585;*/
    border:15px solid #fff;
    box-shadow:0px 1px 6px rgba(20%,20%,20%,0.5);
}

.caption-info{
    font-size:13px;
    list-style:none;
    line-height: 1.6;
    padding-left: 0px;
}

#modal-porducts h1{
    font-size:17px;
    font-weight:700;
    margin:15px 0 5px 0;
}

#modal-porducts .price{
    font-size:17px;
    font-weight:700;
}

#modal-porducts p{
    font-size:15px;
}

.arrow-right{
    position: absolute;
    bottom: 30px;
    right: 30px;
    font-size: 12px;
    color: #a62126;
}
.arrow-right .fa{
    font-size:15px;
    margin-right: 5px;
}
a.btn-shop{
    color: #a62126;
}
a.btn-shop:hover{
    text-decoration:underline;
}
.ellipsis{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.pagination-position{
    text-align:center;
    margin-top: 30px;
}

.pagination{
    margin: 0;
}

.pagination>li>a,.pagination>li>a:visited,.pagination>li>a:active {
    position: relative;
    float: left;
    color: #333;
    font-size: 15px;
    text-decoration: none;
    padding: 6px 12px;
    margin:0 10px;
    line-height: 1.6;
    background-color: transparent;
    border: 0px solid #ddd;
    border-radius:6px;
}

.pagination>li>a:hover {
    color:#fff;
    border-radius:6px;
    background-color: #a62126;
}

.pagination .fa{
    font-size:12px;
}

.form-control{
    background-color: rgba(255, 255, 255, 0.35);
}

.news-title{
    font-size:21px;
}

.news-content{
    padding: 0 15px;
}

.news-footer{
    font-size:15px;
    border-top: 1px dotted #858585;
    margin-top: 30px;
    padding: 20px 0px;
}
.news-back{
    text-align: right;
}
.clearfix{
    clear:both;
}

.brand-detail{
    font-size:15px;
    line-height: 1.6;
    border-top:1px dotted #858585;
    list-style:disc;
    padding-top: 10px;
    padding-left: 20px;
}

#store .caption-style-product{
    padding: 20px;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.row-eq-height [class^=col-] {
  display: grid;
}

#store .page-header{
    margin-top: 10px;
    margin-bottom: 20px;
}

#store .page-header h1 {
    line-height: 2;
}

#faq .caption-style-product{
    padding: 20px;
}

.list-style-none{
    list-style:none;
    padding-left: 0px;
}

.text-center{
    text-align:center;
}

img{
    max-width: 100%;
    height: auto; 
}

small{
    font-size:12px;
}

footer {
    font-size:15px;
    background-color:#231815;
    padding: 25px 0;
    text-align: center;
}

.share-icon{
    display: block;
    width: 30px;
    height: 30px;
    border: 2px solid;
    border-radius: 50%;
    margin:20px 0;
    padding-top: 1px;
}
.copyright{
    color: #af9975;
    font-size:12px;
}

#gotop {
    display: none;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    position: fixed;
    right: 20px;
    bottom: 25px;    
    padding: 4px 0px;    
    font-size: 20px;
    color: white;
    text-align:center;
    cursor: pointer;
    background: #a62126;
}

.cursor-default{
    cursor: default;
}


@media screen and (max-width: 767px) {
    .navbar{
        z-index: 10;
    }
    .navbar-fixed-top {
        position: relative;
    }
    .navbar-left{
        margin-top: 60px!important;
    }

    .navbar-default {
        background-color: #231815;
    }

    .navbar-default.navbar-shrink {
        padding: 10px 0 5px 0;
    }

    .navbar-default .logo,.navbar-default.navbar-shrink .logo{
        width:70px;
        height:70px;
        margin-left: -35px!important;    
    }    

    .my-navbar{
        position: fixed;
        width: 100%;
        height:100vh;
        background-color: #231815;
        overflow-y: auto;
        top: 0;
        z-index:1000;
        margin-top:0px;
        transition: all .6s;
    }
    .my-navbar .navbar-nav{
        margin: 0;
    }
    /* 選單由左滑入 */
    .leftIn{
        left: -100%;
    }
    /* 選單由右滑入 */
    .rightIn{
        right: -100%;
    }
    .my-navbar.leftIn.open{
        left: 0;
    }
    .my-navbar.rightIn.open{
        right: 0;
    }

    .navbar-default .navbar-nav>li>a{
        font-size:15px;
        text-align:left;
    }

    .menu-en{
        display: inline-block;
        font-size:15px;
        margin-left: 5px;
    }
    .navbar-default .navbar-nav>li>a{
        padding: 15px 20px!important;
        border-bottom: 1px dotted #352723;
        border-left: 6px solid #a62126;
    }
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>.open>a,.navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
        color: #fff;
        background-color:#a62126!important;
        border-left: 4px solid #a62126;
    }

    .dropdown-menu{
        padding: 0;
    }
    .dropdown-menu>li>a {
        font-size: 15px;
        padding: 15px 20px!important;
        color: #333;
        background-color:#cfd4da;
        border-bottom: 1px dotted #777;
    }
    .dropdown-menu>li:first-child a{
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }

    .dropdown-menu>li:last-child a{
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    .navbar-toggle:hover {
        background-color:transparent!important;
    }

    section {
        padding-bottom: 30px;
    }

    header{
        margin-top: -20px;
        margin-bottom: 30px;
    }

    #index .row{
        margin-left: -15px;
        margin-right: -15px;
    }

    footer{
        padding-bottom: 60px;
    }
    #gotop {
        width: 40px;
        height: 40px;
        border-radius: 50% 50% 0 0;
        position: fixed;
        left: 0;
        right: 0;
        margin: 0 auto;
        bottom: 0px;    
        padding: 4px 0px;    
        font-size: 20px;
    }

    /*活動消息列表*/
    #news-list .thumbnail img{
        float:left;
        width: 130px;
    }
    #news-list .caption{        
        margin-left: 140px;
    }
    .date{
        margin-bottom: 0px;
    }
    .share-icon{
        display: block;
        font-size: 21px;
        width: 40px;
        height: 40px;
        border: 2px solid;
        border-radius: 50%;
        margin: 10px 0 20px 0;
        padding-top: 1px;
    }
    #intro .img-hover figure img{
        margin-bottom: 15px;
    }
    .topbanner{
        margin-right: -15px;
        margin-left: -15px;
    }
    .topbanner h1{
        font-size: 21px;
        font-weight:400;
        transform: translate(-50%, -40%);
        -ms-transform: translate(-50%, -40%);
    }

    .arrow-right{
        position: absolute;
        bottom: 15px;
        right: 30px;
        font-size: 12px;
        color: #a62126;
    }

    .pagination-position {
        margin-top: 20px;
    }
    .pagination>li>a,.pagination>li>a:visited,.pagination>li>a:active {
        margin:0 5px;
    }
    #recommend{
        margin-top: 30px;
    }
    .news-back{
        text-align:center;
        margin-top: 30px;
    }
    .row-eq-height {
      display: block;
  }

  .row-eq-height [class^=col-] {
      display: block;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar{
        z-index: 10;
    }
    .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .navbar-left{
        margin-top: 60px!important;
        float:none!important;
    }
    .navbar-right{
        float:none!important;
    }

    .navbar-default .logo{
        width:80px;
        height:80px;
        margin-left: -40px!important;    
    }

    .navbar-default.navbar-shrink .logo {
        width:50px;
        height:50px;
        margin-left: -25px!important;
    }

    .my-navbar{
        position: fixed;
        width: 40%;
        height:100vh;
        background-color: #231815;
        overflow: auto;
        top: 0;
        z-index: 9;
        margin-top: 0;
        transition: all .6s;
    }
    .my-navbar .navbar-nav{
        margin: 0;
    }
    /* 選單由左滑入 */
    .leftIn{
        left: -100%;
    }
    /* 選單由右滑入 */
    .rightIn{
        right: -100%;
    }
    .my-navbar.leftIn.open{
        left: 0;
    }
    .my-navbar.rightIn.open{
        right: 0;
    }

    .navbar-default .navbar-nav>li>a{
        font-size:15px;
        text-align:left;
    } 

    .menu-en{
        display: inline-block;
        font-size:15px;
        margin-left: 5px;
    }
    .navbar-default .navbar-nav>li>a{
        padding: 15px 20px!important;
        border-bottom: 1px dotted #777;
    }
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>.open>a,.navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
        color: #fff;
        background-color:#a62126!important;
    }
    .dropdown-menu{
        padding: 0;
    }
    .dropdown-menu>li>a {
        font-size: 15px;
        padding: 15px 20px!important;
        color: #333;
        background-color:#cfd4da;
        border-bottom: 1px dotted #777;
    }
    .dropdown-menu>li>a {
        font-size: 15px;
        padding: 15px 20px!important;
        color: #333;
        background-color:#cfd4da;
        border-bottom: 1px dotted #777;
    }
    .dropdown-menu>li:first-child a{
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }

    .dropdown-menu>li:last-child a{
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    .navbar-toggle:hover {
        background-color:transparent!important;
    }
    section {
        padding-bottom: 40px;
    }

    header{
        margin-top: 60px;
        margin-bottom: 40px;
    }

}

@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation:portrait) {

}