html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;}
body{line-height:1;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
nav ul{list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:none;}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;text-decoration:none;}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold;}
del{text-decoration:line-through;}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help;}
table{border-collapse:collapse;border-spacing:0;}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0;}
input,select{vertical-align:middle;}
li{list-style:none;}

html, body {
	background: #000;
	height: 100%;
	overflow: hidden;
	line-height:1.6;
	font-family: "Helvetica Neue", Helvetica, Arial,"微軟正黑體",Lucida,Verdana,SimSun,sans-serif;
}

.navbar-brand {
	padding: 10px 15px;
}

.navbar-brand img {
	width: 75px;
	opacity:.8;
}

.navbar-inverse {
	background-color:rgba(0, 0, 0, 0.0);
	border-color: rgba(0, 0, 0, 0.0);
}

.navbar-inverse .navbar-nav>li>a{
	font-size:15px;
	color:#a94442;
	line-height:30px;
}

.navbar-inverse .navbar-nav>li>a:hover{
	color:#a94442;
	opacity:.6;
}

.page {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: absolute;
	visibility: hidden;
	background-color:#000;
}

.page .container{
	background-color:rgba(0,0,0, 0.7);
	margin-top:50px;
}

.content{
	color:#fff;
	position:relative;
	padding: 50px;
	background-image: url("../img/bg_blood.png");
	background-repeat:no-repeat;
	background-position: 0 0;
	/*height:600px;
    overflow:scroll;
    overflow-x: hidden;*/
}

.close{
	position:absolute;
	top: 10px;
	right:10px;
	opacity:1;
}

.title{
	font-size:32px;
	font-weight: bolder;
	margin-bottom: 10px;
}
.author{
	font-size:24px;
	font-weight: bolder;
	margin-bottom: 5px;
}
.slogan{
	font-size:18px;
	color:#a94442;
	font-weight: bolder;
	margin-bottom: 10px;
}
.summary{
	font-size:15px;
	margin-bottom: 10px;
	line-height:2;
	letter-spacing:2px;
}

.current-page {
	visibility: visible;
	z-index: 1;
}

#page-2 { background-image: url('../img/page_02.jpg');}
#page-3 { background-image: url('../img/page_03.jpg');}
#page-4 { background-image: url('../img/page_04.jpg');}
#page-5 { background-image: url('../img/page_05.jpg');}
#page-6 { background-image: url('../img/page_06.jpg');}
#page-7 { background-image: url('../img/page_07.jpg');}
#page-8 { background-image: url('../img/page_08.jpg');}
#page-9 { background-image: url('../img/page_01.jpg'); overflow-y:scroll;}
#page-1,#page-2,#page-3,#page-4,#page-5,#page-6,#page-7,#page-8,#page-9{
	background-size: cover;
	background-position: center center;
}

#page-9 .container{
	margin-bottom: 50px;
}

/* Header */
.large-header {
	position: relative;
	width: 100%;
	background: #333;
	overflow: hidden;
	background-image: url('../img/bg.jpg');
	background-size: cover;
	background-position: center center;
	z-index: 1;
}

.main-title {
	position: absolute;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	top: 50%;
	margin-top: -200px;
	bottom:0;
	left: 0;
	right:0;
}


.site__header {
	width: 600px;
	height: 162px;
	text-indent:-9999px;
	background-image:url("../img/title.png");
	background-size:cover;
	background-position: center center;
	background-repeat:no-repeat;
	margin:0 auto;
	-webkit-animation: fadeInDown 2s;
}

.delay-2s { 
	-webkit-animation: fadeInUp 2s;
}

.site__title {
	color: #f35626;
	font-size: 18px;
	font-weight: bold;
	letter-spacing:6px;
	line-height: 1.6;
	background-image: -webkit-linear-gradient(92deg,#f35626,#feab3a);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-animation: hue 60s infinite linear;
	margin-top: -30px;
	margin-bottom: 30px;
	padding: 10px;
}

#SHOW{
	width: 100px;
	height:92px;
	text-indent:-9999px;
	background-image:url("../img/bg_go.png");
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center center;
}

#MORE{
	width: 100px;
	height:92px;
	text-indent:-9999px;
	background-image:url("../img/more.png");
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center center;
}

#BACK{
	width: 100px;
	height:92px;
	text-indent:-9999px;
	background-image:url("../img/back.png");
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center center;
}

#IPAD{
	width: 100px;
	height:92px;
	text-indent:-9999px;
	background-image:url("../img/ipad.png");
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center center;
}

#SHOW:hover, #MORE:hover, #BACK:hover, #IPAD:hover{
	transform: scale(1.5, 1.5);
}

/*icon css*/

.hideicon{
	text-indent:-9999px;
	padding: 0!important;
	display:none!important;
}

.showicon{
	display:block;
	-webkit-animation: fadeInDown .5s;
	animation: fadeInDown .5s;
}

.icon{
	z-index:999;
	position:absolute;
	top:50%;
	left: 50%;
}

#icon-1{
	background-image:url("../img/icon_1.png");
}

.icon-1-position{
	margin-top: -100px;
	margin-left:-450px;
}

#icon-2{
	background-image:url("../img/icon_2.png");
}

.icon-2-position{
	margin-top: 70px;
	margin-left:-350px;
}

#icon-3{
	background-image:url("../img/icon_3.png");
}
.icon-3-position{
	margin-top: 160px;
	margin-left:-220px;
}

#icon-4{
	background-image:url("../img/icon_4.png");
}
.icon-4-position{
	margin-top: 180px;
	margin-left:-30px;
}
#icon-5{
	background-image:url("../img/icon_5.png");
}
.icon-5-position{
	margin-top: 160px;
	margin-left:150px;
}
#icon-6{
	background-image:url("../img/icon_6.png");
}
.icon-6-position{
	margin-top: 60px;
	margin-left:280px;
}
#icon-7{
	background-image:url("../img/icon_7.png");
}
.icon-7-position{
	margin-top: -100px;
	margin-left:350px;
}
#icon-8{
	background-image:url("../img/icon_8.png");
}
.icon-8-position{
	margin-top: -180px;
	margin-left:350px;
}
#icon-1,#icon-2,#icon-3,#icon-4,#icon-5,#icon-6,#icon-7,#icon-8{
	display:block;
	width:85px;
	height:85px;
	line-height:85px;
	color:#FFF;
	text-decoration:none;
	text-indent:-9999px;
	background-repeat:no-repeat;
	background-position:0 0;
}

#icon-1:hover,#icon-2:hover,#icon-3:hover,#icon-4:hover,#icon-5:hover,#icon-6:hover,#icon-7:hover,#icon-8:hover{
	background-position:-85px 0;
	-webkit-animation: tada .5s;
	animation: tada .5s;
}

@-webkit-keyframes hue {
	from {
		-webkit-filter: hue-rotate(0deg);
	}

	to {
		-webkit-filter: hue-rotate(-360deg);
	}
}

.a94442{
	color:#a94442;
	font-weight:bold;
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
	.main-title{
		margin-top: -300px;
	}
	.site__header {
		width: 700px;
		height: 189px;}
		.icon-1-position{
			margin-top: 100px;
			margin-left:-300px;
		}

		.icon-2-position{
			margin-top: 100px;
			margin-left:-130px;
		}

		.icon-3-position{
			margin-top: 100px;
			margin-left:50px;
		}

		.icon-4-position{
			margin-top: 100px;
			margin-left:230px;
		}
		.icon-5-position{
			margin-top: 250px;
			margin-left:-220px;
		}
		.icon-6-position{
			margin-top: 250px;
			margin-left:-50px;
		}
		.icon-7-position{
			margin-top: 250px;
			margin-left:130px;
		}
		.icon-8-position{
			margin-top: 250px;
			margin-left:230px;
		}

	}

	@media only screen 
	and (min-device-width : 768px) 
	and (max-device-width : 1024px) 
	and (orientation : landscape) { 
	}

	@media screen and (max-width : 767px) {
		.navbar-header{
			background-color:rgba(0, 0, 0, 0.6);
			border-color: rgba(0, 0, 0, 0.0);
		}
		.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form,.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover,.navbar-inverse .navbar-toggle {
			background-color:rgba(0, 0, 0, 0.9);
			border-color: rgba(0, 0, 0, 0.0);
		}
		.navbar-inverse .navbar-toggle .icon-bar {
			background-color:rgba(169, 68, 66, 0.8);
		}
		.main-title{
			margin-top: -230px;
		}
		.site__header {
			width: 320px;
			height: 160px;
			background-image:url("../img/title-mobile.png");
		}
		.site__title {
			letter-spacing:2px;
			margin-top: 0px;
		}

		.page .container{
			margin-top: 0;
		}
		#page-2,#page-3,#page-4,#page-5,#page-6,#page-7,#page-8{
			overflow-y:scroll;
		}
		#page-9 .container{
			margin-bottom: 0px;
		}
		.row-horizon{
			z-index: 999;
		}

		.icon-mobile{
			width:945px;
			height:85px;
			margin-top: 30px;
			margin-left: 30px;
		}

		.icon{
			position:relative;
			float:left;
			top:0%;
			left: 0%;
			margin:0 30px 0 20px;
		}
		.close{
			top: 50px;
			right: 13px;
		}
	}